=begin
#GitHub v3 REST API

#GitHub's v3 REST API.

The version of the OpenAPI document: 1.1.4

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.0

=end

require 'cgi'

module OpenapiClient
  class CodespacesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a selected repository to a user secret
    # Adds a repository to the selected repositories for a user's development environment secret.  The authenticated user must have Codespaces access to use this endpoint.  OAuth app tokens and personal access tokens (classic) need the `codespace` or `codespace:secrets` scope to use this endpoint.
    # @param secret_name [String] The name of the secret.
    # @param repository_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def codespaces_add_repository_for_secret_for_authenticated_user(secret_name, repository_id, opts = {})
      codespaces_add_repository_for_secret_for_authenticated_user_with_http_info(secret_name, repository_id, opts)
      nil
    end

    # Add a selected repository to a user secret
    # Adds a repository to the selected repositories for a user&#39;s development environment secret.  The authenticated user must have Codespaces access to use this endpoint.  OAuth app tokens and personal access tokens (classic) need the &#x60;codespace&#x60; or &#x60;codespace:secrets&#x60; scope to use this endpoint.
    # @param secret_name [String] The name of the secret.
    # @param repository_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def codespaces_add_repository_for_secret_for_authenticated_user_with_http_info(secret_name, repository_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_add_repository_for_secret_for_authenticated_user ...'
      end
      # verify the required parameter 'secret_name' is set
      if @api_client.config.client_side_validation && secret_name.nil?
        fail ArgumentError, "Missing the required parameter 'secret_name' when calling CodespacesApi.codespaces_add_repository_for_secret_for_authenticated_user"
      end
      # verify the required parameter 'repository_id' is set
      if @api_client.config.client_side_validation && repository_id.nil?
        fail ArgumentError, "Missing the required parameter 'repository_id' when calling CodespacesApi.codespaces_add_repository_for_secret_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/codespaces/secrets/{secret_name}/repositories/{repository_id}'.sub('{' + 'secret_name' + '}', CGI.escape(secret_name.to_s)).sub('{' + 'repository_id' + '}', CGI.escape(repository_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_add_repository_for_secret_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_add_repository_for_secret_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add selected repository to an organization secret
    # Adds a repository to an organization development environment secret when the `visibility` for repository access is set to `selected`. The visibility is set when you [Create or update an organization secret](https://docs.github.com/rest/codespaces/organization-secrets#create-or-update-an-organization-secret). OAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param secret_name [String] The name of the secret.
    # @param repository_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def codespaces_add_selected_repo_to_org_secret(org, secret_name, repository_id, opts = {})
      codespaces_add_selected_repo_to_org_secret_with_http_info(org, secret_name, repository_id, opts)
      nil
    end

    # Add selected repository to an organization secret
    # Adds a repository to an organization development environment secret when the &#x60;visibility&#x60; for repository access is set to &#x60;selected&#x60;. The visibility is set when you [Create or update an organization secret](https://docs.github.com/rest/codespaces/organization-secrets#create-or-update-an-organization-secret). OAuth app tokens and personal access tokens (classic) need the &#x60;admin:org&#x60; scope to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param secret_name [String] The name of the secret.
    # @param repository_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def codespaces_add_selected_repo_to_org_secret_with_http_info(org, secret_name, repository_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_add_selected_repo_to_org_secret ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CodespacesApi.codespaces_add_selected_repo_to_org_secret"
      end
      # verify the required parameter 'secret_name' is set
      if @api_client.config.client_side_validation && secret_name.nil?
        fail ArgumentError, "Missing the required parameter 'secret_name' when calling CodespacesApi.codespaces_add_selected_repo_to_org_secret"
      end
      # verify the required parameter 'repository_id' is set
      if @api_client.config.client_side_validation && repository_id.nil?
        fail ArgumentError, "Missing the required parameter 'repository_id' when calling CodespacesApi.codespaces_add_selected_repo_to_org_secret"
      end
      # resource path
      local_var_path = '/orgs/{org}/codespaces/secrets/{secret_name}/repositories/{repository_id}'.sub('{' + 'org' + '}', CGI.escape(org.to_s)).sub('{' + 'secret_name' + '}', CGI.escape(secret_name.to_s)).sub('{' + 'repository_id' + '}', CGI.escape(repository_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_add_selected_repo_to_org_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_add_selected_repo_to_org_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check if permissions defined by a devcontainer have been accepted by the authenticated user
    # Checks whether the permissions defined by a given devcontainer configuration have been accepted by the authenticated user.  OAuth app tokens and personal access tokens (classic) need the `codespace` scope to use this endpoint.
    # @param owner [String] The account owner of the repository. The name is not case sensitive.
    # @param repo [String] The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive.
    # @param ref [String] The git reference that points to the location of the devcontainer configuration to use for the permission check. The value of &#x60;ref&#x60; will typically be a branch name (&#x60;heads/BRANCH_NAME&#x60;). For more information, see \&quot;[Git References](https://git-scm.com/book/en/v2/Git-Internals-Git-References)\&quot; in the Git documentation.
    # @param devcontainer_path [String] Path to the devcontainer.json configuration to use for the permission check.
    # @param [Hash] opts the optional parameters
    # @return [CodespacesPermissionsCheckForDevcontainer]
    def codespaces_check_permissions_for_devcontainer(owner, repo, ref, devcontainer_path, opts = {})
      data, _status_code, _headers = codespaces_check_permissions_for_devcontainer_with_http_info(owner, repo, ref, devcontainer_path, opts)
      data
    end

    # Check if permissions defined by a devcontainer have been accepted by the authenticated user
    # Checks whether the permissions defined by a given devcontainer configuration have been accepted by the authenticated user.  OAuth app tokens and personal access tokens (classic) need the &#x60;codespace&#x60; scope to use this endpoint.
    # @param owner [String] The account owner of the repository. The name is not case sensitive.
    # @param repo [String] The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive.
    # @param ref [String] The git reference that points to the location of the devcontainer configuration to use for the permission check. The value of &#x60;ref&#x60; will typically be a branch name (&#x60;heads/BRANCH_NAME&#x60;). For more information, see \&quot;[Git References](https://git-scm.com/book/en/v2/Git-Internals-Git-References)\&quot; in the Git documentation.
    # @param devcontainer_path [String] Path to the devcontainer.json configuration to use for the permission check.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CodespacesPermissionsCheckForDevcontainer, Integer, Hash)>] CodespacesPermissionsCheckForDevcontainer data, response status code and response headers
    def codespaces_check_permissions_for_devcontainer_with_http_info(owner, repo, ref, devcontainer_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_check_permissions_for_devcontainer ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling CodespacesApi.codespaces_check_permissions_for_devcontainer"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling CodespacesApi.codespaces_check_permissions_for_devcontainer"
      end
      # verify the required parameter 'ref' is set
      if @api_client.config.client_side_validation && ref.nil?
        fail ArgumentError, "Missing the required parameter 'ref' when calling CodespacesApi.codespaces_check_permissions_for_devcontainer"
      end
      # verify the required parameter 'devcontainer_path' is set
      if @api_client.config.client_side_validation && devcontainer_path.nil?
        fail ArgumentError, "Missing the required parameter 'devcontainer_path' when calling CodespacesApi.codespaces_check_permissions_for_devcontainer"
      end
      # resource path
      local_var_path = '/repos/{owner}/{repo}/codespaces/permissions_check'.sub('{' + 'owner' + '}', CGI.escape(owner.to_s)).sub('{' + 'repo' + '}', CGI.escape(repo.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ref'] = ref
      query_params[:'devcontainer_path'] = devcontainer_path

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CodespacesPermissionsCheckForDevcontainer'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_check_permissions_for_devcontainer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_check_permissions_for_devcontainer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List machine types for a codespace
    # List the machine types a codespace can transition to use.  OAuth app tokens and personal access tokens (classic) need the `codespace` scope to use this endpoint.
    # @param codespace_name [String] The name of the codespace.
    # @param [Hash] opts the optional parameters
    # @return [CodespacesRepoMachinesForAuthenticatedUser200Response]
    def codespaces_codespace_machines_for_authenticated_user(codespace_name, opts = {})
      data, _status_code, _headers = codespaces_codespace_machines_for_authenticated_user_with_http_info(codespace_name, opts)
      data
    end

    # List machine types for a codespace
    # List the machine types a codespace can transition to use.  OAuth app tokens and personal access tokens (classic) need the &#x60;codespace&#x60; scope to use this endpoint.
    # @param codespace_name [String] The name of the codespace.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CodespacesRepoMachinesForAuthenticatedUser200Response, Integer, Hash)>] CodespacesRepoMachinesForAuthenticatedUser200Response data, response status code and response headers
    def codespaces_codespace_machines_for_authenticated_user_with_http_info(codespace_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_codespace_machines_for_authenticated_user ...'
      end
      # verify the required parameter 'codespace_name' is set
      if @api_client.config.client_side_validation && codespace_name.nil?
        fail ArgumentError, "Missing the required parameter 'codespace_name' when calling CodespacesApi.codespaces_codespace_machines_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/codespaces/{codespace_name}/machines'.sub('{' + 'codespace_name' + '}', CGI.escape(codespace_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CodespacesRepoMachinesForAuthenticatedUser200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_codespace_machines_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_codespace_machines_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a codespace for the authenticated user
    # Creates a new codespace, owned by the authenticated user.  This endpoint requires either a `repository_id` OR a `pull_request` but not both.  OAuth app tokens and personal access tokens (classic) need the `codespace` scope to use this endpoint.
    # @param codespaces_create_for_authenticated_user_request [CodespacesCreateForAuthenticatedUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Codespace]
    def codespaces_create_for_authenticated_user(codespaces_create_for_authenticated_user_request, opts = {})
      data, _status_code, _headers = codespaces_create_for_authenticated_user_with_http_info(codespaces_create_for_authenticated_user_request, opts)
      data
    end

    # Create a codespace for the authenticated user
    # Creates a new codespace, owned by the authenticated user.  This endpoint requires either a &#x60;repository_id&#x60; OR a &#x60;pull_request&#x60; but not both.  OAuth app tokens and personal access tokens (classic) need the &#x60;codespace&#x60; scope to use this endpoint.
    # @param codespaces_create_for_authenticated_user_request [CodespacesCreateForAuthenticatedUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Codespace, Integer, Hash)>] Codespace data, response status code and response headers
    def codespaces_create_for_authenticated_user_with_http_info(codespaces_create_for_authenticated_user_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_create_for_authenticated_user ...'
      end
      # verify the required parameter 'codespaces_create_for_authenticated_user_request' is set
      if @api_client.config.client_side_validation && codespaces_create_for_authenticated_user_request.nil?
        fail ArgumentError, "Missing the required parameter 'codespaces_create_for_authenticated_user_request' when calling CodespacesApi.codespaces_create_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/codespaces'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(codespaces_create_for_authenticated_user_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Codespace'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_create_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_create_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or update an organization secret
    # Creates or updates an organization development environment secret with an encrypted value. Encrypt your secret using [LibSodium](https://libsodium.gitbook.io/doc/bindings_for_other_languages). For more information, see \"[Encrypting secrets for the REST API](https://docs.github.com/rest/guides/encrypting-secrets-for-the-rest-api).\"  OAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param secret_name [String] The name of the secret.
    # @param codespaces_create_or_update_org_secret_request [CodespacesCreateOrUpdateOrgSecretRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def codespaces_create_or_update_org_secret(org, secret_name, codespaces_create_or_update_org_secret_request, opts = {})
      data, _status_code, _headers = codespaces_create_or_update_org_secret_with_http_info(org, secret_name, codespaces_create_or_update_org_secret_request, opts)
      data
    end

    # Create or update an organization secret
    # Creates or updates an organization development environment secret with an encrypted value. Encrypt your secret using [LibSodium](https://libsodium.gitbook.io/doc/bindings_for_other_languages). For more information, see \&quot;[Encrypting secrets for the REST API](https://docs.github.com/rest/guides/encrypting-secrets-for-the-rest-api).\&quot;  OAuth app tokens and personal access tokens (classic) need the &#x60;admin:org&#x60; scope to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param secret_name [String] The name of the secret.
    # @param codespaces_create_or_update_org_secret_request [CodespacesCreateOrUpdateOrgSecretRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def codespaces_create_or_update_org_secret_with_http_info(org, secret_name, codespaces_create_or_update_org_secret_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_create_or_update_org_secret ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CodespacesApi.codespaces_create_or_update_org_secret"
      end
      # verify the required parameter 'secret_name' is set
      if @api_client.config.client_side_validation && secret_name.nil?
        fail ArgumentError, "Missing the required parameter 'secret_name' when calling CodespacesApi.codespaces_create_or_update_org_secret"
      end
      # verify the required parameter 'codespaces_create_or_update_org_secret_request' is set
      if @api_client.config.client_side_validation && codespaces_create_or_update_org_secret_request.nil?
        fail ArgumentError, "Missing the required parameter 'codespaces_create_or_update_org_secret_request' when calling CodespacesApi.codespaces_create_or_update_org_secret"
      end
      # resource path
      local_var_path = '/orgs/{org}/codespaces/secrets/{secret_name}'.sub('{' + 'org' + '}', CGI.escape(org.to_s)).sub('{' + 'secret_name' + '}', CGI.escape(secret_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(codespaces_create_or_update_org_secret_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_create_or_update_org_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_create_or_update_org_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or update a repository secret
    # Creates or updates a repository development environment secret with an encrypted value. Encrypt your secret using [LibSodium](https://libsodium.gitbook.io/doc/bindings_for_other_languages). For more information, see \"[Encrypting secrets for the REST API](https://docs.github.com/rest/guides/encrypting-secrets-for-the-rest-api).\"  OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
    # @param owner [String] The account owner of the repository. The name is not case sensitive.
    # @param repo [String] The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive.
    # @param secret_name [String] The name of the secret.
    # @param codespaces_create_or_update_repo_secret_request [CodespacesCreateOrUpdateRepoSecretRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def codespaces_create_or_update_repo_secret(owner, repo, secret_name, codespaces_create_or_update_repo_secret_request, opts = {})
      data, _status_code, _headers = codespaces_create_or_update_repo_secret_with_http_info(owner, repo, secret_name, codespaces_create_or_update_repo_secret_request, opts)
      data
    end

    # Create or update a repository secret
    # Creates or updates a repository development environment secret with an encrypted value. Encrypt your secret using [LibSodium](https://libsodium.gitbook.io/doc/bindings_for_other_languages). For more information, see \&quot;[Encrypting secrets for the REST API](https://docs.github.com/rest/guides/encrypting-secrets-for-the-rest-api).\&quot;  OAuth app tokens and personal access tokens (classic) need the &#x60;repo&#x60; scope to use this endpoint.
    # @param owner [String] The account owner of the repository. The name is not case sensitive.
    # @param repo [String] The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive.
    # @param secret_name [String] The name of the secret.
    # @param codespaces_create_or_update_repo_secret_request [CodespacesCreateOrUpdateRepoSecretRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def codespaces_create_or_update_repo_secret_with_http_info(owner, repo, secret_name, codespaces_create_or_update_repo_secret_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_create_or_update_repo_secret ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling CodespacesApi.codespaces_create_or_update_repo_secret"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling CodespacesApi.codespaces_create_or_update_repo_secret"
      end
      # verify the required parameter 'secret_name' is set
      if @api_client.config.client_side_validation && secret_name.nil?
        fail ArgumentError, "Missing the required parameter 'secret_name' when calling CodespacesApi.codespaces_create_or_update_repo_secret"
      end
      # verify the required parameter 'codespaces_create_or_update_repo_secret_request' is set
      if @api_client.config.client_side_validation && codespaces_create_or_update_repo_secret_request.nil?
        fail ArgumentError, "Missing the required parameter 'codespaces_create_or_update_repo_secret_request' when calling CodespacesApi.codespaces_create_or_update_repo_secret"
      end
      # resource path
      local_var_path = '/repos/{owner}/{repo}/codespaces/secrets/{secret_name}'.sub('{' + 'owner' + '}', CGI.escape(owner.to_s)).sub('{' + 'repo' + '}', CGI.escape(repo.to_s)).sub('{' + 'secret_name' + '}', CGI.escape(secret_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(codespaces_create_or_update_repo_secret_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_create_or_update_repo_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_create_or_update_repo_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or update a secret for the authenticated user
    # Creates or updates a development environment secret for a user's codespace with an encrypted value. Encrypt your secret using [LibSodium](https://libsodium.gitbook.io/doc/bindings_for_other_languages). For more information, see \"[Encrypting secrets for the REST API](https://docs.github.com/rest/guides/encrypting-secrets-for-the-rest-api).\"  The authenticated user must have Codespaces access to use this endpoint.  OAuth app tokens and personal access tokens (classic) need the `codespace` or `codespace:secrets` scope to use this endpoint.
    # @param secret_name [String] The name of the secret.
    # @param codespaces_create_or_update_secret_for_authenticated_user_request [CodespacesCreateOrUpdateSecretForAuthenticatedUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def codespaces_create_or_update_secret_for_authenticated_user(secret_name, codespaces_create_or_update_secret_for_authenticated_user_request, opts = {})
      data, _status_code, _headers = codespaces_create_or_update_secret_for_authenticated_user_with_http_info(secret_name, codespaces_create_or_update_secret_for_authenticated_user_request, opts)
      data
    end

    # Create or update a secret for the authenticated user
    # Creates or updates a development environment secret for a user&#39;s codespace with an encrypted value. Encrypt your secret using [LibSodium](https://libsodium.gitbook.io/doc/bindings_for_other_languages). For more information, see \&quot;[Encrypting secrets for the REST API](https://docs.github.com/rest/guides/encrypting-secrets-for-the-rest-api).\&quot;  The authenticated user must have Codespaces access to use this endpoint.  OAuth app tokens and personal access tokens (classic) need the &#x60;codespace&#x60; or &#x60;codespace:secrets&#x60; scope to use this endpoint.
    # @param secret_name [String] The name of the secret.
    # @param codespaces_create_or_update_secret_for_authenticated_user_request [CodespacesCreateOrUpdateSecretForAuthenticatedUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def codespaces_create_or_update_secret_for_authenticated_user_with_http_info(secret_name, codespaces_create_or_update_secret_for_authenticated_user_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_create_or_update_secret_for_authenticated_user ...'
      end
      # verify the required parameter 'secret_name' is set
      if @api_client.config.client_side_validation && secret_name.nil?
        fail ArgumentError, "Missing the required parameter 'secret_name' when calling CodespacesApi.codespaces_create_or_update_secret_for_authenticated_user"
      end
      # verify the required parameter 'codespaces_create_or_update_secret_for_authenticated_user_request' is set
      if @api_client.config.client_side_validation && codespaces_create_or_update_secret_for_authenticated_user_request.nil?
        fail ArgumentError, "Missing the required parameter 'codespaces_create_or_update_secret_for_authenticated_user_request' when calling CodespacesApi.codespaces_create_or_update_secret_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/codespaces/secrets/{secret_name}'.sub('{' + 'secret_name' + '}', CGI.escape(secret_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(codespaces_create_or_update_secret_for_authenticated_user_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_create_or_update_secret_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_create_or_update_secret_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a codespace from a pull request
    # Creates a codespace owned by the authenticated user for the specified pull request.  OAuth app tokens and personal access tokens (classic) need the `codespace` scope to use this endpoint.
    # @param owner [String] The account owner of the repository. The name is not case sensitive.
    # @param repo [String] The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive.
    # @param pull_number [Integer] The number that identifies the pull request.
    # @param codespaces_create_with_pr_for_authenticated_user_request [CodespacesCreateWithPrForAuthenticatedUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Codespace]
    def codespaces_create_with_pr_for_authenticated_user(owner, repo, pull_number, codespaces_create_with_pr_for_authenticated_user_request, opts = {})
      data, _status_code, _headers = codespaces_create_with_pr_for_authenticated_user_with_http_info(owner, repo, pull_number, codespaces_create_with_pr_for_authenticated_user_request, opts)
      data
    end

    # Create a codespace from a pull request
    # Creates a codespace owned by the authenticated user for the specified pull request.  OAuth app tokens and personal access tokens (classic) need the &#x60;codespace&#x60; scope to use this endpoint.
    # @param owner [String] The account owner of the repository. The name is not case sensitive.
    # @param repo [String] The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive.
    # @param pull_number [Integer] The number that identifies the pull request.
    # @param codespaces_create_with_pr_for_authenticated_user_request [CodespacesCreateWithPrForAuthenticatedUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Codespace, Integer, Hash)>] Codespace data, response status code and response headers
    def codespaces_create_with_pr_for_authenticated_user_with_http_info(owner, repo, pull_number, codespaces_create_with_pr_for_authenticated_user_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_create_with_pr_for_authenticated_user ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling CodespacesApi.codespaces_create_with_pr_for_authenticated_user"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling CodespacesApi.codespaces_create_with_pr_for_authenticated_user"
      end
      # verify the required parameter 'pull_number' is set
      if @api_client.config.client_side_validation && pull_number.nil?
        fail ArgumentError, "Missing the required parameter 'pull_number' when calling CodespacesApi.codespaces_create_with_pr_for_authenticated_user"
      end
      # resource path
      local_var_path = '/repos/{owner}/{repo}/pulls/{pull_number}/codespaces'.sub('{' + 'owner' + '}', CGI.escape(owner.to_s)).sub('{' + 'repo' + '}', CGI.escape(repo.to_s)).sub('{' + 'pull_number' + '}', CGI.escape(pull_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(codespaces_create_with_pr_for_authenticated_user_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Codespace'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_create_with_pr_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_create_with_pr_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a codespace in a repository
    # Creates a codespace owned by the authenticated user in the specified repository.  OAuth app tokens and personal access tokens (classic) need the `codespace` scope to use this endpoint.
    # @param owner [String] The account owner of the repository. The name is not case sensitive.
    # @param repo [String] The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive.
    # @param codespaces_create_with_repo_for_authenticated_user_request [CodespacesCreateWithRepoForAuthenticatedUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Codespace]
    def codespaces_create_with_repo_for_authenticated_user(owner, repo, codespaces_create_with_repo_for_authenticated_user_request, opts = {})
      data, _status_code, _headers = codespaces_create_with_repo_for_authenticated_user_with_http_info(owner, repo, codespaces_create_with_repo_for_authenticated_user_request, opts)
      data
    end

    # Create a codespace in a repository
    # Creates a codespace owned by the authenticated user in the specified repository.  OAuth app tokens and personal access tokens (classic) need the &#x60;codespace&#x60; scope to use this endpoint.
    # @param owner [String] The account owner of the repository. The name is not case sensitive.
    # @param repo [String] The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive.
    # @param codespaces_create_with_repo_for_authenticated_user_request [CodespacesCreateWithRepoForAuthenticatedUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Codespace, Integer, Hash)>] Codespace data, response status code and response headers
    def codespaces_create_with_repo_for_authenticated_user_with_http_info(owner, repo, codespaces_create_with_repo_for_authenticated_user_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_create_with_repo_for_authenticated_user ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling CodespacesApi.codespaces_create_with_repo_for_authenticated_user"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling CodespacesApi.codespaces_create_with_repo_for_authenticated_user"
      end
      # resource path
      local_var_path = '/repos/{owner}/{repo}/codespaces'.sub('{' + 'owner' + '}', CGI.escape(owner.to_s)).sub('{' + 'repo' + '}', CGI.escape(repo.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/scim+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(codespaces_create_with_repo_for_authenticated_user_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Codespace'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_create_with_repo_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_create_with_repo_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove users from Codespaces access for an organization
    # Codespaces for the specified users will no longer be billed to the organization.  To use this endpoint, the access settings for the organization must be set to `selected_members`. For information on how to change this setting, see \"[Manage access control for organization codespaces](https://docs.github.com/rest/codespaces/organizations#manage-access-control-for-organization-codespaces).\"  OAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param codespaces_delete_codespaces_access_users_request [CodespacesDeleteCodespacesAccessUsersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def codespaces_delete_codespaces_access_users(org, codespaces_delete_codespaces_access_users_request, opts = {})
      codespaces_delete_codespaces_access_users_with_http_info(org, codespaces_delete_codespaces_access_users_request, opts)
      nil
    end

    # Remove users from Codespaces access for an organization
    # Codespaces for the specified users will no longer be billed to the organization.  To use this endpoint, the access settings for the organization must be set to &#x60;selected_members&#x60;. For information on how to change this setting, see \&quot;[Manage access control for organization codespaces](https://docs.github.com/rest/codespaces/organizations#manage-access-control-for-organization-codespaces).\&quot;  OAuth app tokens and personal access tokens (classic) need the &#x60;admin:org&#x60; scope to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param codespaces_delete_codespaces_access_users_request [CodespacesDeleteCodespacesAccessUsersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def codespaces_delete_codespaces_access_users_with_http_info(org, codespaces_delete_codespaces_access_users_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_delete_codespaces_access_users ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CodespacesApi.codespaces_delete_codespaces_access_users"
      end
      # verify the required parameter 'codespaces_delete_codespaces_access_users_request' is set
      if @api_client.config.client_side_validation && codespaces_delete_codespaces_access_users_request.nil?
        fail ArgumentError, "Missing the required parameter 'codespaces_delete_codespaces_access_users_request' when calling CodespacesApi.codespaces_delete_codespaces_access_users"
      end
      # resource path
      local_var_path = '/orgs/{org}/codespaces/access/selected_users'.sub('{' + 'org' + '}', CGI.escape(org.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(codespaces_delete_codespaces_access_users_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_delete_codespaces_access_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_delete_codespaces_access_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a codespace for the authenticated user
    # Deletes a user's codespace.  OAuth app tokens and personal access tokens (classic) need the `codespace` scope to use this endpoint.
    # @param codespace_name [String] The name of the codespace.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def codespaces_delete_for_authenticated_user(codespace_name, opts = {})
      data, _status_code, _headers = codespaces_delete_for_authenticated_user_with_http_info(codespace_name, opts)
      data
    end

    # Delete a codespace for the authenticated user
    # Deletes a user&#39;s codespace.  OAuth app tokens and personal access tokens (classic) need the &#x60;codespace&#x60; scope to use this endpoint.
    # @param codespace_name [String] The name of the codespace.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def codespaces_delete_for_authenticated_user_with_http_info(codespace_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_delete_for_authenticated_user ...'
      end
      # verify the required parameter 'codespace_name' is set
      if @api_client.config.client_side_validation && codespace_name.nil?
        fail ArgumentError, "Missing the required parameter 'codespace_name' when calling CodespacesApi.codespaces_delete_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/codespaces/{codespace_name}'.sub('{' + 'codespace_name' + '}', CGI.escape(codespace_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_delete_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_delete_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a codespace from the organization
    # Deletes a user's codespace.  OAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param username [String] The handle for the GitHub user account.
    # @param codespace_name [String] The name of the codespace.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def codespaces_delete_from_organization(org, username, codespace_name, opts = {})
      data, _status_code, _headers = codespaces_delete_from_organization_with_http_info(org, username, codespace_name, opts)
      data
    end

    # Delete a codespace from the organization
    # Deletes a user&#39;s codespace.  OAuth app tokens and personal access tokens (classic) need the &#x60;admin:org&#x60; scope to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param username [String] The handle for the GitHub user account.
    # @param codespace_name [String] The name of the codespace.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def codespaces_delete_from_organization_with_http_info(org, username, codespace_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_delete_from_organization ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CodespacesApi.codespaces_delete_from_organization"
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling CodespacesApi.codespaces_delete_from_organization"
      end
      # verify the required parameter 'codespace_name' is set
      if @api_client.config.client_side_validation && codespace_name.nil?
        fail ArgumentError, "Missing the required parameter 'codespace_name' when calling CodespacesApi.codespaces_delete_from_organization"
      end
      # resource path
      local_var_path = '/orgs/{org}/members/{username}/codespaces/{codespace_name}'.sub('{' + 'org' + '}', CGI.escape(org.to_s)).sub('{' + 'username' + '}', CGI.escape(username.to_s)).sub('{' + 'codespace_name' + '}', CGI.escape(codespace_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_delete_from_organization",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_delete_from_organization\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an organization secret
    # Deletes an organization development environment secret using the secret name.  OAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param secret_name [String] The name of the secret.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def codespaces_delete_org_secret(org, secret_name, opts = {})
      codespaces_delete_org_secret_with_http_info(org, secret_name, opts)
      nil
    end

    # Delete an organization secret
    # Deletes an organization development environment secret using the secret name.  OAuth app tokens and personal access tokens (classic) need the &#x60;admin:org&#x60; scope to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param secret_name [String] The name of the secret.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def codespaces_delete_org_secret_with_http_info(org, secret_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_delete_org_secret ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CodespacesApi.codespaces_delete_org_secret"
      end
      # verify the required parameter 'secret_name' is set
      if @api_client.config.client_side_validation && secret_name.nil?
        fail ArgumentError, "Missing the required parameter 'secret_name' when calling CodespacesApi.codespaces_delete_org_secret"
      end
      # resource path
      local_var_path = '/orgs/{org}/codespaces/secrets/{secret_name}'.sub('{' + 'org' + '}', CGI.escape(org.to_s)).sub('{' + 'secret_name' + '}', CGI.escape(secret_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_delete_org_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_delete_org_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a repository secret
    # Deletes a development environment secret in a repository using the secret name.  OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
    # @param owner [String] The account owner of the repository. The name is not case sensitive.
    # @param repo [String] The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive.
    # @param secret_name [String] The name of the secret.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def codespaces_delete_repo_secret(owner, repo, secret_name, opts = {})
      codespaces_delete_repo_secret_with_http_info(owner, repo, secret_name, opts)
      nil
    end

    # Delete a repository secret
    # Deletes a development environment secret in a repository using the secret name.  OAuth app tokens and personal access tokens (classic) need the &#x60;repo&#x60; scope to use this endpoint.
    # @param owner [String] The account owner of the repository. The name is not case sensitive.
    # @param repo [String] The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive.
    # @param secret_name [String] The name of the secret.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def codespaces_delete_repo_secret_with_http_info(owner, repo, secret_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_delete_repo_secret ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling CodespacesApi.codespaces_delete_repo_secret"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling CodespacesApi.codespaces_delete_repo_secret"
      end
      # verify the required parameter 'secret_name' is set
      if @api_client.config.client_side_validation && secret_name.nil?
        fail ArgumentError, "Missing the required parameter 'secret_name' when calling CodespacesApi.codespaces_delete_repo_secret"
      end
      # resource path
      local_var_path = '/repos/{owner}/{repo}/codespaces/secrets/{secret_name}'.sub('{' + 'owner' + '}', CGI.escape(owner.to_s)).sub('{' + 'repo' + '}', CGI.escape(repo.to_s)).sub('{' + 'secret_name' + '}', CGI.escape(secret_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_delete_repo_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_delete_repo_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a secret for the authenticated user
    # Deletes a development environment secret from a user's codespaces using the secret name. Deleting the secret will remove access from all codespaces that were allowed to access the secret.  The authenticated user must have Codespaces access to use this endpoint.  OAuth app tokens and personal access tokens (classic) need the `codespace` or `codespace:secrets` scope to use this endpoint.
    # @param secret_name [String] The name of the secret.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def codespaces_delete_secret_for_authenticated_user(secret_name, opts = {})
      codespaces_delete_secret_for_authenticated_user_with_http_info(secret_name, opts)
      nil
    end

    # Delete a secret for the authenticated user
    # Deletes a development environment secret from a user&#39;s codespaces using the secret name. Deleting the secret will remove access from all codespaces that were allowed to access the secret.  The authenticated user must have Codespaces access to use this endpoint.  OAuth app tokens and personal access tokens (classic) need the &#x60;codespace&#x60; or &#x60;codespace:secrets&#x60; scope to use this endpoint.
    # @param secret_name [String] The name of the secret.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def codespaces_delete_secret_for_authenticated_user_with_http_info(secret_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_delete_secret_for_authenticated_user ...'
      end
      # verify the required parameter 'secret_name' is set
      if @api_client.config.client_side_validation && secret_name.nil?
        fail ArgumentError, "Missing the required parameter 'secret_name' when calling CodespacesApi.codespaces_delete_secret_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/codespaces/secrets/{secret_name}'.sub('{' + 'secret_name' + '}', CGI.escape(secret_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_delete_secret_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_delete_secret_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export a codespace for the authenticated user
    # Triggers an export of the specified codespace and returns a URL and ID where the status of the export can be monitored.  If changes cannot be pushed to the codespace's repository, they will be pushed to a new or previously-existing fork instead.  OAuth app tokens and personal access tokens (classic) need the `codespace` scope to use this endpoint.
    # @param codespace_name [String] The name of the codespace.
    # @param [Hash] opts the optional parameters
    # @return [CodespaceExportDetails]
    def codespaces_export_for_authenticated_user(codespace_name, opts = {})
      data, _status_code, _headers = codespaces_export_for_authenticated_user_with_http_info(codespace_name, opts)
      data
    end

    # Export a codespace for the authenticated user
    # Triggers an export of the specified codespace and returns a URL and ID where the status of the export can be monitored.  If changes cannot be pushed to the codespace&#39;s repository, they will be pushed to a new or previously-existing fork instead.  OAuth app tokens and personal access tokens (classic) need the &#x60;codespace&#x60; scope to use this endpoint.
    # @param codespace_name [String] The name of the codespace.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CodespaceExportDetails, Integer, Hash)>] CodespaceExportDetails data, response status code and response headers
    def codespaces_export_for_authenticated_user_with_http_info(codespace_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_export_for_authenticated_user ...'
      end
      # verify the required parameter 'codespace_name' is set
      if @api_client.config.client_side_validation && codespace_name.nil?
        fail ArgumentError, "Missing the required parameter 'codespace_name' when calling CodespacesApi.codespaces_export_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/codespaces/{codespace_name}/exports'.sub('{' + 'codespace_name' + '}', CGI.escape(codespace_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CodespaceExportDetails'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_export_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_export_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List codespaces for a user in organization
    # Lists the codespaces that a member of an organization has for repositories in that organization.  OAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param username [String] The handle for the GitHub user account.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 30)
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @return [CodespacesListInOrganization200Response]
    def codespaces_get_codespaces_for_user_in_org(org, username, opts = {})
      data, _status_code, _headers = codespaces_get_codespaces_for_user_in_org_with_http_info(org, username, opts)
      data
    end

    # List codespaces for a user in organization
    # Lists the codespaces that a member of an organization has for repositories in that organization.  OAuth app tokens and personal access tokens (classic) need the &#x60;admin:org&#x60; scope to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param username [String] The handle for the GitHub user account.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 30)
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @return [Array<(CodespacesListInOrganization200Response, Integer, Hash)>] CodespacesListInOrganization200Response data, response status code and response headers
    def codespaces_get_codespaces_for_user_in_org_with_http_info(org, username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_get_codespaces_for_user_in_org ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CodespacesApi.codespaces_get_codespaces_for_user_in_org"
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling CodespacesApi.codespaces_get_codespaces_for_user_in_org"
      end
      # resource path
      local_var_path = '/orgs/{org}/members/{username}/codespaces'.sub('{' + 'org' + '}', CGI.escape(org.to_s)).sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CodespacesListInOrganization200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_get_codespaces_for_user_in_org",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_get_codespaces_for_user_in_org\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get details about a codespace export
    # Gets information about an export of a codespace.  OAuth app tokens and personal access tokens (classic) need the `codespace` scope to use this endpoint.
    # @param codespace_name [String] The name of the codespace.
    # @param export_id [String] The ID of the export operation, or &#x60;latest&#x60;. Currently only &#x60;latest&#x60; is currently supported.
    # @param [Hash] opts the optional parameters
    # @return [CodespaceExportDetails]
    def codespaces_get_export_details_for_authenticated_user(codespace_name, export_id, opts = {})
      data, _status_code, _headers = codespaces_get_export_details_for_authenticated_user_with_http_info(codespace_name, export_id, opts)
      data
    end

    # Get details about a codespace export
    # Gets information about an export of a codespace.  OAuth app tokens and personal access tokens (classic) need the &#x60;codespace&#x60; scope to use this endpoint.
    # @param codespace_name [String] The name of the codespace.
    # @param export_id [String] The ID of the export operation, or &#x60;latest&#x60;. Currently only &#x60;latest&#x60; is currently supported.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CodespaceExportDetails, Integer, Hash)>] CodespaceExportDetails data, response status code and response headers
    def codespaces_get_export_details_for_authenticated_user_with_http_info(codespace_name, export_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_get_export_details_for_authenticated_user ...'
      end
      # verify the required parameter 'codespace_name' is set
      if @api_client.config.client_side_validation && codespace_name.nil?
        fail ArgumentError, "Missing the required parameter 'codespace_name' when calling CodespacesApi.codespaces_get_export_details_for_authenticated_user"
      end
      # verify the required parameter 'export_id' is set
      if @api_client.config.client_side_validation && export_id.nil?
        fail ArgumentError, "Missing the required parameter 'export_id' when calling CodespacesApi.codespaces_get_export_details_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/codespaces/{codespace_name}/exports/{export_id}'.sub('{' + 'codespace_name' + '}', CGI.escape(codespace_name.to_s)).sub('{' + 'export_id' + '}', CGI.escape(export_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CodespaceExportDetails'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_get_export_details_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_get_export_details_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a codespace for the authenticated user
    # Gets information about a user's codespace.  OAuth app tokens and personal access tokens (classic) need the `codespace` scope to use this endpoint.
    # @param codespace_name [String] The name of the codespace.
    # @param [Hash] opts the optional parameters
    # @return [Codespace]
    def codespaces_get_for_authenticated_user(codespace_name, opts = {})
      data, _status_code, _headers = codespaces_get_for_authenticated_user_with_http_info(codespace_name, opts)
      data
    end

    # Get a codespace for the authenticated user
    # Gets information about a user&#39;s codespace.  OAuth app tokens and personal access tokens (classic) need the &#x60;codespace&#x60; scope to use this endpoint.
    # @param codespace_name [String] The name of the codespace.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Codespace, Integer, Hash)>] Codespace data, response status code and response headers
    def codespaces_get_for_authenticated_user_with_http_info(codespace_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_get_for_authenticated_user ...'
      end
      # verify the required parameter 'codespace_name' is set
      if @api_client.config.client_side_validation && codespace_name.nil?
        fail ArgumentError, "Missing the required parameter 'codespace_name' when calling CodespacesApi.codespaces_get_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/codespaces/{codespace_name}'.sub('{' + 'codespace_name' + '}', CGI.escape(codespace_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Codespace'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_get_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_get_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an organization public key
    # Gets a public key for an organization, which is required in order to encrypt secrets. You need to encrypt the value of a secret before you can create or update secrets. OAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param [Hash] opts the optional parameters
    # @return [CodespacesPublicKey]
    def codespaces_get_org_public_key(org, opts = {})
      data, _status_code, _headers = codespaces_get_org_public_key_with_http_info(org, opts)
      data
    end

    # Get an organization public key
    # Gets a public key for an organization, which is required in order to encrypt secrets. You need to encrypt the value of a secret before you can create or update secrets. OAuth app tokens and personal access tokens (classic) need the &#x60;admin:org&#x60; scope to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CodespacesPublicKey, Integer, Hash)>] CodespacesPublicKey data, response status code and response headers
    def codespaces_get_org_public_key_with_http_info(org, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_get_org_public_key ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CodespacesApi.codespaces_get_org_public_key"
      end
      # resource path
      local_var_path = '/orgs/{org}/codespaces/secrets/public-key'.sub('{' + 'org' + '}', CGI.escape(org.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CodespacesPublicKey'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_get_org_public_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_get_org_public_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an organization secret
    # Gets an organization development environment secret without revealing its encrypted value.  OAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param secret_name [String] The name of the secret.
    # @param [Hash] opts the optional parameters
    # @return [CodespacesOrgSecret]
    def codespaces_get_org_secret(org, secret_name, opts = {})
      data, _status_code, _headers = codespaces_get_org_secret_with_http_info(org, secret_name, opts)
      data
    end

    # Get an organization secret
    # Gets an organization development environment secret without revealing its encrypted value.  OAuth app tokens and personal access tokens (classic) need the &#x60;admin:org&#x60; scope to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param secret_name [String] The name of the secret.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CodespacesOrgSecret, Integer, Hash)>] CodespacesOrgSecret data, response status code and response headers
    def codespaces_get_org_secret_with_http_info(org, secret_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_get_org_secret ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CodespacesApi.codespaces_get_org_secret"
      end
      # verify the required parameter 'secret_name' is set
      if @api_client.config.client_side_validation && secret_name.nil?
        fail ArgumentError, "Missing the required parameter 'secret_name' when calling CodespacesApi.codespaces_get_org_secret"
      end
      # resource path
      local_var_path = '/orgs/{org}/codespaces/secrets/{secret_name}'.sub('{' + 'org' + '}', CGI.escape(org.to_s)).sub('{' + 'secret_name' + '}', CGI.escape(secret_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CodespacesOrgSecret'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_get_org_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_get_org_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get public key for the authenticated user
    # Gets your public key, which you need to encrypt secrets. You need to encrypt a secret before you can create or update secrets.  The authenticated user must have Codespaces access to use this endpoint.  OAuth app tokens and personal access tokens (classic) need the `codespace` or `codespace:secrets` scope to use this endpoint.
    # @param [Hash] opts the optional parameters
    # @return [CodespacesUserPublicKey]
    def codespaces_get_public_key_for_authenticated_user(opts = {})
      data, _status_code, _headers = codespaces_get_public_key_for_authenticated_user_with_http_info(opts)
      data
    end

    # Get public key for the authenticated user
    # Gets your public key, which you need to encrypt secrets. You need to encrypt a secret before you can create or update secrets.  The authenticated user must have Codespaces access to use this endpoint.  OAuth app tokens and personal access tokens (classic) need the &#x60;codespace&#x60; or &#x60;codespace:secrets&#x60; scope to use this endpoint.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CodespacesUserPublicKey, Integer, Hash)>] CodespacesUserPublicKey data, response status code and response headers
    def codespaces_get_public_key_for_authenticated_user_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_get_public_key_for_authenticated_user ...'
      end
      # resource path
      local_var_path = '/user/codespaces/secrets/public-key'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CodespacesUserPublicKey'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_get_public_key_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_get_public_key_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a repository public key
    # Gets your public key, which you need to encrypt secrets. You need to encrypt a secret before you can create or update secrets.  Anyone with read access to the repository can use this endpoint.  If the repository is private, OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
    # @param owner [String] The account owner of the repository. The name is not case sensitive.
    # @param repo [String] The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive.
    # @param [Hash] opts the optional parameters
    # @return [CodespacesPublicKey]
    def codespaces_get_repo_public_key(owner, repo, opts = {})
      data, _status_code, _headers = codespaces_get_repo_public_key_with_http_info(owner, repo, opts)
      data
    end

    # Get a repository public key
    # Gets your public key, which you need to encrypt secrets. You need to encrypt a secret before you can create or update secrets.  Anyone with read access to the repository can use this endpoint.  If the repository is private, OAuth app tokens and personal access tokens (classic) need the &#x60;repo&#x60; scope to use this endpoint.
    # @param owner [String] The account owner of the repository. The name is not case sensitive.
    # @param repo [String] The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CodespacesPublicKey, Integer, Hash)>] CodespacesPublicKey data, response status code and response headers
    def codespaces_get_repo_public_key_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_get_repo_public_key ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling CodespacesApi.codespaces_get_repo_public_key"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling CodespacesApi.codespaces_get_repo_public_key"
      end
      # resource path
      local_var_path = '/repos/{owner}/{repo}/codespaces/secrets/public-key'.sub('{' + 'owner' + '}', CGI.escape(owner.to_s)).sub('{' + 'repo' + '}', CGI.escape(repo.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CodespacesPublicKey'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_get_repo_public_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CodespacesApi#codespaces_get_repo_public_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a repository secret
    # Gets a single repository development environment secret without revealing its encrypted value.  OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
    # @param owner [String] The account owner of the repository. The name is not case sensitive.
    # @param repo [String] The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive.
    # @param secret_name [String] The name of the secret.
    # @param [Hash] opts the optional parameters
    # @return [RepoCodespacesSecret]
    def codespaces_get_repo_secret(owner, repo, secret_name, opts = {})
      data, _status_code, _headers = codespaces_get_repo_secret_with_http_info(owner, repo, secret_name, opts)
      data
    end

    # Get a repository secret
    # Gets a single repository development environment secret without revealing its encrypted value.  OAuth app tokens and personal access tokens (classic) need the &#x60;repo&#x60; scope to use this endpoint.
    # @param owner [String] The account owner of the repository. The name is not case sensitive.
    # @param repo [String] The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive.
    # @param secret_name [String] The name of the secret.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepoCodespacesSecret, Integer, Hash)>] RepoCodespacesSecret data, response status code and response headers
    def codespaces_get_repo_secret_with_http_info(owner, repo, secret_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CodespacesApi.codespaces_get_repo_secret ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling CodespacesApi.codespaces_get_repo_secret"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling CodespacesApi.codespaces_get_repo_secret"
      end
      # verify the required parameter 'secret_name' is set
      if @api_client.config.client_side_validation && secret_name.nil?
        fail ArgumentError, "Missing the required parameter 'secret_name' when calling CodespacesApi.codespaces_get_repo_secret"
      end
      # resource path
      local_var_path = '/repos/{owner}/{repo}/codespaces/secrets/{secret_name}'.sub('{' + 'owner' + '}', CGI.escape(owner.to_s)).sub('{' + 'repo' + '}', CGI.escape(repo.to_s)).sub('{' + 'secret_name' + '}', CGI.escape(secret_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RepoCodespacesSecret'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CodespacesApi.codespaces_get_repo_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
[...]
