=begin
#GitHub v3 REST API

#GitHub's v3 REST API.

The version of the OpenAPI document: 1.1.4

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.0

=end

require 'cgi'

module OpenapiClient
  class CopilotApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add teams to the Copilot subscription for an organization
    # **Note**: This endpoint is in beta and is subject to change.  Purchases a GitHub Copilot seat for all users within each specified team. The organization will be billed accordingly. For more information about Copilot pricing, see \"[Pricing for GitHub Copilot](https://docs.github.com/billing/managing-billing-for-github-copilot/about-billing-for-github-copilot#about-billing-for-github-copilot)\".  Only organization owners can add Copilot seats for their organization members.  In order for an admin to use this endpoint, the organization must have a Copilot Business or Enterprise subscription and a configured suggestion matching policy. For more information about setting up a Copilot subscription, see \"[Setting up a Copilot subscription for your organization](https://docs.github.com/billing/managing-billing-for-github-copilot/managing-your-github-copilot-subscription-for-your-organization-or-enterprise)\". For more information about setting a suggestion matching policy, see \"[Configuring suggestion matching policies for GitHub Copilot in your organization](https://docs.github.com/copilot/managing-copilot/managing-policies-for-github-copilot-in-your-organization#configuring-suggestion-matching-policies-for-github-copilot-in-your-organization)\".  The response will contain the total number of new seats that were created and existing seats that were refreshed.  OAuth app tokens and personal access tokens (classic) need either the `manage_billing:copilot` or `admin:org` scopes to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param copilot_add_copilot_seats_for_teams_request [CopilotAddCopilotSeatsForTeamsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CopilotAddCopilotSeatsForTeams201Response]
    def copilot_add_copilot_seats_for_teams(org, copilot_add_copilot_seats_for_teams_request, opts = {})
      data, _status_code, _headers = copilot_add_copilot_seats_for_teams_with_http_info(org, copilot_add_copilot_seats_for_teams_request, opts)
      data
    end

    # Add teams to the Copilot subscription for an organization
    # **Note**: This endpoint is in beta and is subject to change.  Purchases a GitHub Copilot seat for all users within each specified team. The organization will be billed accordingly. For more information about Copilot pricing, see \&quot;[Pricing for GitHub Copilot](https://docs.github.com/billing/managing-billing-for-github-copilot/about-billing-for-github-copilot#about-billing-for-github-copilot)\&quot;.  Only organization owners can add Copilot seats for their organization members.  In order for an admin to use this endpoint, the organization must have a Copilot Business or Enterprise subscription and a configured suggestion matching policy. For more information about setting up a Copilot subscription, see \&quot;[Setting up a Copilot subscription for your organization](https://docs.github.com/billing/managing-billing-for-github-copilot/managing-your-github-copilot-subscription-for-your-organization-or-enterprise)\&quot;. For more information about setting a suggestion matching policy, see \&quot;[Configuring suggestion matching policies for GitHub Copilot in your organization](https://docs.github.com/copilot/managing-copilot/managing-policies-for-github-copilot-in-your-organization#configuring-suggestion-matching-policies-for-github-copilot-in-your-organization)\&quot;.  The response will contain the total number of new seats that were created and existing seats that were refreshed.  OAuth app tokens and personal access tokens (classic) need either the &#x60;manage_billing:copilot&#x60; or &#x60;admin:org&#x60; scopes to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param copilot_add_copilot_seats_for_teams_request [CopilotAddCopilotSeatsForTeamsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CopilotAddCopilotSeatsForTeams201Response, Integer, Hash)>] CopilotAddCopilotSeatsForTeams201Response data, response status code and response headers
    def copilot_add_copilot_seats_for_teams_with_http_info(org, copilot_add_copilot_seats_for_teams_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CopilotApi.copilot_add_copilot_seats_for_teams ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CopilotApi.copilot_add_copilot_seats_for_teams"
      end
      # verify the required parameter 'copilot_add_copilot_seats_for_teams_request' is set
      if @api_client.config.client_side_validation && copilot_add_copilot_seats_for_teams_request.nil?
        fail ArgumentError, "Missing the required parameter 'copilot_add_copilot_seats_for_teams_request' when calling CopilotApi.copilot_add_copilot_seats_for_teams"
      end
      # resource path
      local_var_path = '/orgs/{org}/copilot/billing/selected_teams'.sub('{' + 'org' + '}', CGI.escape(org.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(copilot_add_copilot_seats_for_teams_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CopilotAddCopilotSeatsForTeams201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CopilotApi.copilot_add_copilot_seats_for_teams",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CopilotApi#copilot_add_copilot_seats_for_teams\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add users to the Copilot subscription for an organization
    # **Note**: This endpoint is in beta and is subject to change.  Purchases a GitHub Copilot seat for each user specified. The organization will be billed accordingly. For more information about Copilot pricing, see \"[Pricing for GitHub Copilot](https://docs.github.com/billing/managing-billing-for-github-copilot/about-billing-for-github-copilot#about-billing-for-github-copilot)\".  Only organization owners can add Copilot seats for their organization members.  In order for an admin to use this endpoint, the organization must have a Copilot Business or Enterprise subscription and a configured suggestion matching policy. For more information about setting up a Copilot subscription, see \"[Setting up a Copilot subscription for your organization](https://docs.github.com/billing/managing-billing-for-github-copilot/managing-your-github-copilot-subscription-for-your-organization-or-enterprise)\". For more information about setting a suggestion matching policy, see \"[Configuring suggestion matching policies for GitHub Copilot in your organization](https://docs.github.com/copilot/managing-copilot/managing-policies-for-github-copilot-in-your-organization#configuring-suggestion-matching-policies-for-github-copilot-in-your-organization)\".  The response will contain the total number of new seats that were created and existing seats that were refreshed.  OAuth app tokens and personal access tokens (classic) need either the `manage_billing:copilot` or `admin:org` scopes to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param copilot_add_copilot_seats_for_users_request [CopilotAddCopilotSeatsForUsersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CopilotAddCopilotSeatsForTeams201Response]
    def copilot_add_copilot_seats_for_users(org, copilot_add_copilot_seats_for_users_request, opts = {})
      data, _status_code, _headers = copilot_add_copilot_seats_for_users_with_http_info(org, copilot_add_copilot_seats_for_users_request, opts)
      data
    end

    # Add users to the Copilot subscription for an organization
    # **Note**: This endpoint is in beta and is subject to change.  Purchases a GitHub Copilot seat for each user specified. The organization will be billed accordingly. For more information about Copilot pricing, see \&quot;[Pricing for GitHub Copilot](https://docs.github.com/billing/managing-billing-for-github-copilot/about-billing-for-github-copilot#about-billing-for-github-copilot)\&quot;.  Only organization owners can add Copilot seats for their organization members.  In order for an admin to use this endpoint, the organization must have a Copilot Business or Enterprise subscription and a configured suggestion matching policy. For more information about setting up a Copilot subscription, see \&quot;[Setting up a Copilot subscription for your organization](https://docs.github.com/billing/managing-billing-for-github-copilot/managing-your-github-copilot-subscription-for-your-organization-or-enterprise)\&quot;. For more information about setting a suggestion matching policy, see \&quot;[Configuring suggestion matching policies for GitHub Copilot in your organization](https://docs.github.com/copilot/managing-copilot/managing-policies-for-github-copilot-in-your-organization#configuring-suggestion-matching-policies-for-github-copilot-in-your-organization)\&quot;.  The response will contain the total number of new seats that were created and existing seats that were refreshed.  OAuth app tokens and personal access tokens (classic) need either the &#x60;manage_billing:copilot&#x60; or &#x60;admin:org&#x60; scopes to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param copilot_add_copilot_seats_for_users_request [CopilotAddCopilotSeatsForUsersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CopilotAddCopilotSeatsForTeams201Response, Integer, Hash)>] CopilotAddCopilotSeatsForTeams201Response data, response status code and response headers
    def copilot_add_copilot_seats_for_users_with_http_info(org, copilot_add_copilot_seats_for_users_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CopilotApi.copilot_add_copilot_seats_for_users ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CopilotApi.copilot_add_copilot_seats_for_users"
      end
      # verify the required parameter 'copilot_add_copilot_seats_for_users_request' is set
      if @api_client.config.client_side_validation && copilot_add_copilot_seats_for_users_request.nil?
        fail ArgumentError, "Missing the required parameter 'copilot_add_copilot_seats_for_users_request' when calling CopilotApi.copilot_add_copilot_seats_for_users"
      end
      # resource path
      local_var_path = '/orgs/{org}/copilot/billing/selected_users'.sub('{' + 'org' + '}', CGI.escape(org.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(copilot_add_copilot_seats_for_users_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CopilotAddCopilotSeatsForTeams201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CopilotApi.copilot_add_copilot_seats_for_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CopilotApi#copilot_add_copilot_seats_for_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove teams from the Copilot subscription for an organization
    # **Note**: This endpoint is in beta and is subject to change.  Cancels the Copilot seat assignment for all members of each team specified. This will cause the members of the specified team(s) to lose access to GitHub Copilot at the end of the current billing cycle, and the organization will not be billed further for those users.  For more information about Copilot pricing, see \"[Pricing for GitHub Copilot](https://docs.github.com/billing/managing-billing-for-github-copilot/about-billing-for-github-copilot#about-billing-for-github-copilot)\".  For more information about disabling access to Copilot Business or Enterprise, see \"[Revoking access to GitHub Copilot for specific users in your organization](https://docs.github.com/copilot/managing-copilot/managing-access-for-copilot-in-your-organization#revoking-access-to-github-copilot-for-specific-users-in-your-organization)\".  Only organization owners can cancel Copilot seats for their organization members.  OAuth app tokens and personal access tokens (classic) need either the `manage_billing:copilot` or `admin:org` scopes to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param copilot_cancel_copilot_seat_assignment_for_teams_request [CopilotCancelCopilotSeatAssignmentForTeamsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CopilotCancelCopilotSeatAssignmentForTeams200Response]
    def copilot_cancel_copilot_seat_assignment_for_teams(org, copilot_cancel_copilot_seat_assignment_for_teams_request, opts = {})
      data, _status_code, _headers = copilot_cancel_copilot_seat_assignment_for_teams_with_http_info(org, copilot_cancel_copilot_seat_assignment_for_teams_request, opts)
      data
    end

    # Remove teams from the Copilot subscription for an organization
    # **Note**: This endpoint is in beta and is subject to change.  Cancels the Copilot seat assignment for all members of each team specified. This will cause the members of the specified team(s) to lose access to GitHub Copilot at the end of the current billing cycle, and the organization will not be billed further for those users.  For more information about Copilot pricing, see \&quot;[Pricing for GitHub Copilot](https://docs.github.com/billing/managing-billing-for-github-copilot/about-billing-for-github-copilot#about-billing-for-github-copilot)\&quot;.  For more information about disabling access to Copilot Business or Enterprise, see \&quot;[Revoking access to GitHub Copilot for specific users in your organization](https://docs.github.com/copilot/managing-copilot/managing-access-for-copilot-in-your-organization#revoking-access-to-github-copilot-for-specific-users-in-your-organization)\&quot;.  Only organization owners can cancel Copilot seats for their organization members.  OAuth app tokens and personal access tokens (classic) need either the &#x60;manage_billing:copilot&#x60; or &#x60;admin:org&#x60; scopes to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param copilot_cancel_copilot_seat_assignment_for_teams_request [CopilotCancelCopilotSeatAssignmentForTeamsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CopilotCancelCopilotSeatAssignmentForTeams200Response, Integer, Hash)>] CopilotCancelCopilotSeatAssignmentForTeams200Response data, response status code and response headers
    def copilot_cancel_copilot_seat_assignment_for_teams_with_http_info(org, copilot_cancel_copilot_seat_assignment_for_teams_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CopilotApi.copilot_cancel_copilot_seat_assignment_for_teams ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CopilotApi.copilot_cancel_copilot_seat_assignment_for_teams"
      end
      # verify the required parameter 'copilot_cancel_copilot_seat_assignment_for_teams_request' is set
      if @api_client.config.client_side_validation && copilot_cancel_copilot_seat_assignment_for_teams_request.nil?
        fail ArgumentError, "Missing the required parameter 'copilot_cancel_copilot_seat_assignment_for_teams_request' when calling CopilotApi.copilot_cancel_copilot_seat_assignment_for_teams"
      end
      # resource path
      local_var_path = '/orgs/{org}/copilot/billing/selected_teams'.sub('{' + 'org' + '}', CGI.escape(org.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(copilot_cancel_copilot_seat_assignment_for_teams_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CopilotCancelCopilotSeatAssignmentForTeams200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CopilotApi.copilot_cancel_copilot_seat_assignment_for_teams",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CopilotApi#copilot_cancel_copilot_seat_assignment_for_teams\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove users from the Copilot subscription for an organization
    # **Note**: This endpoint is in beta and is subject to change.  Cancels the Copilot seat assignment for each user specified. This will cause the specified users to lose access to GitHub Copilot at the end of the current billing cycle, and the organization will not be billed further for those users.  For more information about Copilot pricing, see \"[Pricing for GitHub Copilot](https://docs.github.com/billing/managing-billing-for-github-copilot/about-billing-for-github-copilot#about-billing-for-github-copilot)\".  For more information about disabling access to Copilot Business or Enterprise, see \"[Revoking access to GitHub Copilot for specific users in your organization](https://docs.github.com/copilot/managing-copilot/managing-access-for-copilot-in-your-organization#revoking-access-to-github-copilot-for-specific-users-in-your-organization)\".  Only organization owners can cancel Copilot seats for their organization members.  OAuth app tokens and personal access tokens (classic) need either the `manage_billing:copilot` or `admin:org` scopes to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param copilot_cancel_copilot_seat_assignment_for_users_request [CopilotCancelCopilotSeatAssignmentForUsersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CopilotCancelCopilotSeatAssignmentForTeams200Response]
    def copilot_cancel_copilot_seat_assignment_for_users(org, copilot_cancel_copilot_seat_assignment_for_users_request, opts = {})
      data, _status_code, _headers = copilot_cancel_copilot_seat_assignment_for_users_with_http_info(org, copilot_cancel_copilot_seat_assignment_for_users_request, opts)
      data
    end

    # Remove users from the Copilot subscription for an organization
    # **Note**: This endpoint is in beta and is subject to change.  Cancels the Copilot seat assignment for each user specified. This will cause the specified users to lose access to GitHub Copilot at the end of the current billing cycle, and the organization will not be billed further for those users.  For more information about Copilot pricing, see \&quot;[Pricing for GitHub Copilot](https://docs.github.com/billing/managing-billing-for-github-copilot/about-billing-for-github-copilot#about-billing-for-github-copilot)\&quot;.  For more information about disabling access to Copilot Business or Enterprise, see \&quot;[Revoking access to GitHub Copilot for specific users in your organization](https://docs.github.com/copilot/managing-copilot/managing-access-for-copilot-in-your-organization#revoking-access-to-github-copilot-for-specific-users-in-your-organization)\&quot;.  Only organization owners can cancel Copilot seats for their organization members.  OAuth app tokens and personal access tokens (classic) need either the &#x60;manage_billing:copilot&#x60; or &#x60;admin:org&#x60; scopes to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param copilot_cancel_copilot_seat_assignment_for_users_request [CopilotCancelCopilotSeatAssignmentForUsersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CopilotCancelCopilotSeatAssignmentForTeams200Response, Integer, Hash)>] CopilotCancelCopilotSeatAssignmentForTeams200Response data, response status code and response headers
    def copilot_cancel_copilot_seat_assignment_for_users_with_http_info(org, copilot_cancel_copilot_seat_assignment_for_users_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CopilotApi.copilot_cancel_copilot_seat_assignment_for_users ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CopilotApi.copilot_cancel_copilot_seat_assignment_for_users"
      end
      # verify the required parameter 'copilot_cancel_copilot_seat_assignment_for_users_request' is set
      if @api_client.config.client_side_validation && copilot_cancel_copilot_seat_assignment_for_users_request.nil?
        fail ArgumentError, "Missing the required parameter 'copilot_cancel_copilot_seat_assignment_for_users_request' when calling CopilotApi.copilot_cancel_copilot_seat_assignment_for_users"
      end
      # resource path
      local_var_path = '/orgs/{org}/copilot/billing/selected_users'.sub('{' + 'org' + '}', CGI.escape(org.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(copilot_cancel_copilot_seat_assignment_for_users_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CopilotCancelCopilotSeatAssignmentForTeams200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CopilotApi.copilot_cancel_copilot_seat_assignment_for_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CopilotApi#copilot_cancel_copilot_seat_assignment_for_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Copilot seat information and settings for an organization
    # **Note**: This endpoint is in beta and is subject to change.  Gets information about an organization's Copilot subscription, including seat breakdown and feature policies. To configure these settings, go to your organization's settings on GitHub.com. For more information, see \"[Managing policies for Copilot in your organization](https://docs.github.com/copilot/managing-copilot/managing-policies-for-copilot-business-in-your-organization)\".  Only organization owners can view details about the organization's Copilot Business or Copilot Enterprise subscription.  OAuth app tokens and personal access tokens (classic) need either the `manage_billing:copilot` or `read:org` scopes to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param [Hash] opts the optional parameters
    # @return [CopilotOrganizationDetails]
    def copilot_get_copilot_organization_details(org, opts = {})
      data, _status_code, _headers = copilot_get_copilot_organization_details_with_http_info(org, opts)
      data
    end

    # Get Copilot seat information and settings for an organization
    # **Note**: This endpoint is in beta and is subject to change.  Gets information about an organization&#39;s Copilot subscription, including seat breakdown and feature policies. To configure these settings, go to your organization&#39;s settings on GitHub.com. For more information, see \&quot;[Managing policies for Copilot in your organization](https://docs.github.com/copilot/managing-copilot/managing-policies-for-copilot-business-in-your-organization)\&quot;.  Only organization owners can view details about the organization&#39;s Copilot Business or Copilot Enterprise subscription.  OAuth app tokens and personal access tokens (classic) need either the &#x60;manage_billing:copilot&#x60; or &#x60;read:org&#x60; scopes to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CopilotOrganizationDetails, Integer, Hash)>] CopilotOrganizationDetails data, response status code and response headers
    def copilot_get_copilot_organization_details_with_http_info(org, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CopilotApi.copilot_get_copilot_organization_details ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CopilotApi.copilot_get_copilot_organization_details"
      end
      # resource path
      local_var_path = '/orgs/{org}/copilot/billing'.sub('{' + 'org' + '}', CGI.escape(org.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CopilotOrganizationDetails'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CopilotApi.copilot_get_copilot_organization_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CopilotApi#copilot_get_copilot_organization_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Copilot seat assignment details for a user
    # **Note**: This endpoint is in beta and is subject to change.  Gets the GitHub Copilot seat assignment details for a member of an organization who currently has access to GitHub Copilot.  Only organization owners can view Copilot seat assignment details for members of their organization.  OAuth app tokens and personal access tokens (classic) need either the `manage_billing:copilot` or `read:org` scopes to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param username [String] The handle for the GitHub user account.
    # @param [Hash] opts the optional parameters
    # @return [CopilotSeatDetails]
    def copilot_get_copilot_seat_details_for_user(org, username, opts = {})
      data, _status_code, _headers = copilot_get_copilot_seat_details_for_user_with_http_info(org, username, opts)
      data
    end

    # Get Copilot seat assignment details for a user
    # **Note**: This endpoint is in beta and is subject to change.  Gets the GitHub Copilot seat assignment details for a member of an organization who currently has access to GitHub Copilot.  Only organization owners can view Copilot seat assignment details for members of their organization.  OAuth app tokens and personal access tokens (classic) need either the &#x60;manage_billing:copilot&#x60; or &#x60;read:org&#x60; scopes to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param username [String] The handle for the GitHub user account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CopilotSeatDetails, Integer, Hash)>] CopilotSeatDetails data, response status code and response headers
    def copilot_get_copilot_seat_details_for_user_with_http_info(org, username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CopilotApi.copilot_get_copilot_seat_details_for_user ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CopilotApi.copilot_get_copilot_seat_details_for_user"
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling CopilotApi.copilot_get_copilot_seat_details_for_user"
      end
      # resource path
      local_var_path = '/orgs/{org}/members/{username}/copilot'.sub('{' + 'org' + '}', CGI.escape(org.to_s)).sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CopilotSeatDetails'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CopilotApi.copilot_get_copilot_seat_details_for_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CopilotApi#copilot_get_copilot_seat_details_for_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all Copilot seat assignments for an organization
    # **Note**: This endpoint is in beta and is subject to change.  Lists all active Copilot seats for an organization with a Copilot Business or Copilot Enterprise subscription. Only organization owners can view assigned seats.  OAuth app tokens and personal access tokens (classic) need either the `manage_billing:copilot` or `read:org` scopes to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 50)
    # @return [CopilotListCopilotSeats200Response]
    def copilot_list_copilot_seats(org, opts = {})
      data, _status_code, _headers = copilot_list_copilot_seats_with_http_info(org, opts)
      data
    end

    # List all Copilot seat assignments for an organization
    # **Note**: This endpoint is in beta and is subject to change.  Lists all active Copilot seats for an organization with a Copilot Business or Copilot Enterprise subscription. Only organization owners can view assigned seats.  OAuth app tokens and personal access tokens (classic) need either the &#x60;manage_billing:copilot&#x60; or &#x60;read:org&#x60; scopes to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 50)
    # @return [Array<(CopilotListCopilotSeats200Response, Integer, Hash)>] CopilotListCopilotSeats200Response data, response status code and response headers
    def copilot_list_copilot_seats_with_http_info(org, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CopilotApi.copilot_list_copilot_seats ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CopilotApi.copilot_list_copilot_seats"
      end
      # resource path
      local_var_path = '/orgs/{org}/copilot/billing/seats'.sub('{' + 'org' + '}', CGI.escape(org.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CopilotListCopilotSeats200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CopilotApi.copilot_list_copilot_seats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CopilotApi#copilot_list_copilot_seats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all Copilot seat assignments for an enterprise
    # **Note**: This endpoint is in beta and is subject to change.  Lists all active Copilot seats across organizations or enterprise teams for an enterprise with a Copilot Business or Copilot Enterprise subscription.  Users with access through multiple organizations or enterprise teams will only be counted toward `total_seats` once.  For each organization or enterprise team which grants Copilot access to a user, a seat detail object will appear in the `seats` array.  Only enterprise owners and billing managers can view assigned Copilot seats across their child organizations or enterprise teams.  Personal access tokens (classic) need either the `manage_billing:copilot` or `read:enterprise` scopes to use this endpoint.
    # @param enterprise [String] The slug version of the enterprise name. You can also substitute this value with the enterprise id.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 50)
    # @return [CopilotListCopilotSeatsForEnterprise200Response]
    def copilot_list_copilot_seats_for_enterprise(enterprise, opts = {})
      data, _status_code, _headers = copilot_list_copilot_seats_for_enterprise_with_http_info(enterprise, opts)
      data
    end

    # List all Copilot seat assignments for an enterprise
    # **Note**: This endpoint is in beta and is subject to change.  Lists all active Copilot seats across organizations or enterprise teams for an enterprise with a Copilot Business or Copilot Enterprise subscription.  Users with access through multiple organizations or enterprise teams will only be counted toward &#x60;total_seats&#x60; once.  For each organization or enterprise team which grants Copilot access to a user, a seat detail object will appear in the &#x60;seats&#x60; array.  Only enterprise owners and billing managers can view assigned Copilot seats across their child organizations or enterprise teams.  Personal access tokens (classic) need either the &#x60;manage_billing:copilot&#x60; or &#x60;read:enterprise&#x60; scopes to use this endpoint.
    # @param enterprise [String] The slug version of the enterprise name. You can also substitute this value with the enterprise id.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 50)
    # @return [Array<(CopilotListCopilotSeatsForEnterprise200Response, Integer, Hash)>] CopilotListCopilotSeatsForEnterprise200Response data, response status code and response headers
    def copilot_list_copilot_seats_for_enterprise_with_http_info(enterprise, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CopilotApi.copilot_list_copilot_seats_for_enterprise ...'
      end
      # verify the required parameter 'enterprise' is set
      if @api_client.config.client_side_validation && enterprise.nil?
        fail ArgumentError, "Missing the required parameter 'enterprise' when calling CopilotApi.copilot_list_copilot_seats_for_enterprise"
      end
      # resource path
      local_var_path = '/enterprises/{enterprise}/copilot/billing/seats'.sub('{' + 'enterprise' + '}', CGI.escape(enterprise.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CopilotListCopilotSeatsForEnterprise200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CopilotApi.copilot_list_copilot_seats_for_enterprise",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CopilotApi#copilot_list_copilot_seats_for_enterprise\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a summary of Copilot usage for enterprise members
    # **Note**: This endpoint is in beta and is subject to change.  You can use this endpoint to see a daily breakdown of aggregated usage metrics for Copilot completions and Copilot Chat in the IDE for all users across organizations with access to Copilot within your enterprise, with a further breakdown of suggestions, acceptances, and number of active users by editor and language for each day. See the response schema tab for detailed metrics definitions.  The response contains metrics for the prior 28 days. Usage metrics are processed once per day for the previous day, and the response will only include data up until yesterday. In order for an end user to be counted towards these metrics, they must have telemetry enabled in their IDE.  Only owners and billing managers can view Copilot usage metrics for the enterprise.  OAuth app tokens and personal access tokens (classic) need either the `manage_billing:copilot` or `read:enterprise` scopes to use this endpoint.
    # @param enterprise [String] The slug version of the enterprise name. You can also substitute this value with the enterprise id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :since Show usage metrics since this date. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format (&#x60;YYYY-MM-DDTHH:MM:SSZ&#x60;). Maximum value is 28 days ago.
    # @option opts [String] :_until Show usage metrics until this date. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format (&#x60;YYYY-MM-DDTHH:MM:SSZ&#x60;) and should not preceed the &#x60;since&#x60; date if it is passed.
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @option opts [Integer] :per_page The number of days of metrics to display per page (max 28). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 28)
    # @return [Array<CopilotUsageMetrics>]
    def copilot_usage_metrics_for_enterprise(enterprise, opts = {})
      data, _status_code, _headers = copilot_usage_metrics_for_enterprise_with_http_info(enterprise, opts)
      data
    end

    # Get a summary of Copilot usage for enterprise members
    # **Note**: This endpoint is in beta and is subject to change.  You can use this endpoint to see a daily breakdown of aggregated usage metrics for Copilot completions and Copilot Chat in the IDE for all users across organizations with access to Copilot within your enterprise, with a further breakdown of suggestions, acceptances, and number of active users by editor and language for each day. See the response schema tab for detailed metrics definitions.  The response contains metrics for the prior 28 days. Usage metrics are processed once per day for the previous day, and the response will only include data up until yesterday. In order for an end user to be counted towards these metrics, they must have telemetry enabled in their IDE.  Only owners and billing managers can view Copilot usage metrics for the enterprise.  OAuth app tokens and personal access tokens (classic) need either the &#x60;manage_billing:copilot&#x60; or &#x60;read:enterprise&#x60; scopes to use this endpoint.
    # @param enterprise [String] The slug version of the enterprise name. You can also substitute this value with the enterprise id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :since Show usage metrics since this date. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format (&#x60;YYYY-MM-DDTHH:MM:SSZ&#x60;). Maximum value is 28 days ago.
    # @option opts [String] :_until Show usage metrics until this date. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format (&#x60;YYYY-MM-DDTHH:MM:SSZ&#x60;) and should not preceed the &#x60;since&#x60; date if it is passed.
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @option opts [Integer] :per_page The number of days of metrics to display per page (max 28). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 28)
    # @return [Array<(Array<CopilotUsageMetrics>, Integer, Hash)>] Array<CopilotUsageMetrics> data, response status code and response headers
    def copilot_usage_metrics_for_enterprise_with_http_info(enterprise, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CopilotApi.copilot_usage_metrics_for_enterprise ...'
      end
      # verify the required parameter 'enterprise' is set
      if @api_client.config.client_side_validation && enterprise.nil?
        fail ArgumentError, "Missing the required parameter 'enterprise' when calling CopilotApi.copilot_usage_metrics_for_enterprise"
      end
      # resource path
      local_var_path = '/enterprises/{enterprise}/copilot/usage'.sub('{' + 'enterprise' + '}', CGI.escape(enterprise.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'until'] = opts[:'_until'] if !opts[:'_until'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CopilotUsageMetrics>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CopilotApi.copilot_usage_metrics_for_enterprise",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CopilotApi#copilot_usage_metrics_for_enterprise\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a summary of Copilot usage for organization members
    # **Note**: This endpoint is in beta and is subject to change.  You can use this endpoint to see a daily breakdown of aggregated usage metrics for Copilot completions and Copilot Chat in the IDE across an organization, with a further breakdown of suggestions, acceptances, and number of active users by editor and language for each day. See the response schema tab for detailed metrics definitions.  The response contains metrics for the prior 28 days. Usage metrics are processed once per day for the previous day, and the response will only include data up until yesterday. In order for an end user to be counted towards these metrics, they must have telemetry enabled in their IDE.  Organization owners, and owners and billing managers of the parent enterprise, can view Copilot usage metrics.  OAuth app tokens and personal access tokens (classic) need either the `manage_billing:copilot`, `read:org`, or `read:enterprise` scopes to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :since Show usage metrics since this date. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format (&#x60;YYYY-MM-DDTHH:MM:SSZ&#x60;). Maximum value is 28 days ago.
    # @option opts [String] :_until Show usage metrics until this date. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format (&#x60;YYYY-MM-DDTHH:MM:SSZ&#x60;) and should not preceed the &#x60;since&#x60; date if it is passed.
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @option opts [Integer] :per_page The number of days of metrics to display per page (max 28). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 28)
    # @return [Array<CopilotUsageMetrics>]
    def copilot_usage_metrics_for_org(org, opts = {})
      data, _status_code, _headers = copilot_usage_metrics_for_org_with_http_info(org, opts)
      data
    end

    # Get a summary of Copilot usage for organization members
    # **Note**: This endpoint is in beta and is subject to change.  You can use this endpoint to see a daily breakdown of aggregated usage metrics for Copilot completions and Copilot Chat in the IDE across an organization, with a further breakdown of suggestions, acceptances, and number of active users by editor and language for each day. See the response schema tab for detailed metrics definitions.  The response contains metrics for the prior 28 days. Usage metrics are processed once per day for the previous day, and the response will only include data up until yesterday. In order for an end user to be counted towards these metrics, they must have telemetry enabled in their IDE.  Organization owners, and owners and billing managers of the parent enterprise, can view Copilot usage metrics.  OAuth app tokens and personal access tokens (classic) need either the &#x60;manage_billing:copilot&#x60;, &#x60;read:org&#x60;, or &#x60;read:enterprise&#x60; scopes to use this endpoint.
    # @param org [String] The organization name. The name is not case sensitive.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :since Show usage metrics since this date. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format (&#x60;YYYY-MM-DDTHH:MM:SSZ&#x60;). Maximum value is 28 days ago.
    # @option opts [String] :_until Show usage metrics until this date. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format (&#x60;YYYY-MM-DDTHH:MM:SSZ&#x60;) and should not preceed the &#x60;since&#x60; date if it is passed.
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @option opts [Integer] :per_page The number of days of metrics to display per page (max 28). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 28)
    # @return [Array<(Array<CopilotUsageMetrics>, Integer, Hash)>] Array<CopilotUsageMetrics> data, response status code and response headers
    def copilot_usage_metrics_for_org_with_http_info(org, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CopilotApi.copilot_usage_metrics_for_org ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling CopilotApi.copilot_usage_metrics_for_org"
      end
      # resource path
      local_var_path = '/orgs/{org}/copilot/usage'.sub('{' + 'org' + '}', CGI.escape(org.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'until'] = opts[:'_until'] if !opts[:'_until'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CopilotUsageMetrics>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CopilotApi.copilot_usage_metrics_for_org",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CopilotApi#copilot_usage_metrics_for_org\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
