=begin
#GitHub v3 REST API

#GitHub's v3 REST API.

The version of the OpenAPI document: 1.1.4

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.0

=end

require 'cgi'

module OpenapiClient
  class UsersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add an email address for the authenticated user
    # OAuth app tokens and personal access tokens (classic) need the `user` scope to use this endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [UsersAddEmailForAuthenticatedUserRequest] :users_add_email_for_authenticated_user_request 
    # @return [Array<Email>]
    def users_add_email_for_authenticated_user(opts = {})
      data, _status_code, _headers = users_add_email_for_authenticated_user_with_http_info(opts)
      data
    end

    # Add an email address for the authenticated user
    # OAuth app tokens and personal access tokens (classic) need the &#x60;user&#x60; scope to use this endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [UsersAddEmailForAuthenticatedUserRequest] :users_add_email_for_authenticated_user_request 
    # @return [Array<(Array<Email>, Integer, Hash)>] Array<Email> data, response status code and response headers
    def users_add_email_for_authenticated_user_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_add_email_for_authenticated_user ...'
      end
      # resource path
      local_var_path = '/user/emails'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'users_add_email_for_authenticated_user_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Email>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_add_email_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_add_email_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add social accounts for the authenticated user
    # Add one or more social accounts to the authenticated user's profile.  OAuth app tokens and personal access tokens (classic) need the `user` scope to use this endpoint.
    # @param users_add_social_account_for_authenticated_user_request [UsersAddSocialAccountForAuthenticatedUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<SocialAccount>]
    def users_add_social_account_for_authenticated_user(users_add_social_account_for_authenticated_user_request, opts = {})
      data, _status_code, _headers = users_add_social_account_for_authenticated_user_with_http_info(users_add_social_account_for_authenticated_user_request, opts)
      data
    end

    # Add social accounts for the authenticated user
    # Add one or more social accounts to the authenticated user&#39;s profile.  OAuth app tokens and personal access tokens (classic) need the &#x60;user&#x60; scope to use this endpoint.
    # @param users_add_social_account_for_authenticated_user_request [UsersAddSocialAccountForAuthenticatedUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<SocialAccount>, Integer, Hash)>] Array<SocialAccount> data, response status code and response headers
    def users_add_social_account_for_authenticated_user_with_http_info(users_add_social_account_for_authenticated_user_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_add_social_account_for_authenticated_user ...'
      end
      # verify the required parameter 'users_add_social_account_for_authenticated_user_request' is set
      if @api_client.config.client_side_validation && users_add_social_account_for_authenticated_user_request.nil?
        fail ArgumentError, "Missing the required parameter 'users_add_social_account_for_authenticated_user_request' when calling UsersApi.users_add_social_account_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/social_accounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(users_add_social_account_for_authenticated_user_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SocialAccount>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_add_social_account_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_add_social_account_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Block a user
    # Blocks the given user and returns a 204. If the authenticated user cannot block the given user a 422 is returned.
    # @param username [String] The handle for the GitHub user account.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def users_block(username, opts = {})
      users_block_with_http_info(username, opts)
      nil
    end

    # Block a user
    # Blocks the given user and returns a 204. If the authenticated user cannot block the given user a 422 is returned.
    # @param username [String] The handle for the GitHub user account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def users_block_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_block ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling UsersApi.users_block"
      end
      # resource path
      local_var_path = '/user/blocks/{username}'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_block",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_block\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check if a user is blocked by the authenticated user
    # Returns a 204 if the given user is blocked by the authenticated user. Returns a 404 if the given user is not blocked by the authenticated user, or if the given user account has been identified as spam by GitHub.
    # @param username [String] The handle for the GitHub user account.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def users_check_blocked(username, opts = {})
      users_check_blocked_with_http_info(username, opts)
      nil
    end

    # Check if a user is blocked by the authenticated user
    # Returns a 204 if the given user is blocked by the authenticated user. Returns a 404 if the given user is not blocked by the authenticated user, or if the given user account has been identified as spam by GitHub.
    # @param username [String] The handle for the GitHub user account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def users_check_blocked_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_check_blocked ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling UsersApi.users_check_blocked"
      end
      # resource path
      local_var_path = '/user/blocks/{username}'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_check_blocked",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_check_blocked\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check if a user follows another user
    # 
    # @param username [String] The handle for the GitHub user account.
    # @param target_user [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def users_check_following_for_user(username, target_user, opts = {})
      users_check_following_for_user_with_http_info(username, target_user, opts)
      nil
    end

    # Check if a user follows another user
    # 
    # @param username [String] The handle for the GitHub user account.
    # @param target_user [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def users_check_following_for_user_with_http_info(username, target_user, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_check_following_for_user ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling UsersApi.users_check_following_for_user"
      end
      # verify the required parameter 'target_user' is set
      if @api_client.config.client_side_validation && target_user.nil?
        fail ArgumentError, "Missing the required parameter 'target_user' when calling UsersApi.users_check_following_for_user"
      end
      # resource path
      local_var_path = '/users/{username}/following/{target_user}'.sub('{' + 'username' + '}', CGI.escape(username.to_s)).sub('{' + 'target_user' + '}', CGI.escape(target_user.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_check_following_for_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_check_following_for_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check if a person is followed by the authenticated user
    # 
    # @param username [String] The handle for the GitHub user account.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def users_check_person_is_followed_by_authenticated(username, opts = {})
      users_check_person_is_followed_by_authenticated_with_http_info(username, opts)
      nil
    end

    # Check if a person is followed by the authenticated user
    # 
    # @param username [String] The handle for the GitHub user account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def users_check_person_is_followed_by_authenticated_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_check_person_is_followed_by_authenticated ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling UsersApi.users_check_person_is_followed_by_authenticated"
      end
      # resource path
      local_var_path = '/user/following/{username}'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_check_person_is_followed_by_authenticated",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_check_person_is_followed_by_authenticated\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a GPG key for the authenticated user
    # Adds a GPG key to the authenticated user's GitHub account.  OAuth app tokens and personal access tokens (classic) need the `write:gpg_key` scope to use this endpoint.
    # @param users_create_gpg_key_for_authenticated_user_request [UsersCreateGpgKeyForAuthenticatedUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GpgKey]
    def users_create_gpg_key_for_authenticated_user(users_create_gpg_key_for_authenticated_user_request, opts = {})
      data, _status_code, _headers = users_create_gpg_key_for_authenticated_user_with_http_info(users_create_gpg_key_for_authenticated_user_request, opts)
      data
    end

    # Create a GPG key for the authenticated user
    # Adds a GPG key to the authenticated user&#39;s GitHub account.  OAuth app tokens and personal access tokens (classic) need the &#x60;write:gpg_key&#x60; scope to use this endpoint.
    # @param users_create_gpg_key_for_authenticated_user_request [UsersCreateGpgKeyForAuthenticatedUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GpgKey, Integer, Hash)>] GpgKey data, response status code and response headers
    def users_create_gpg_key_for_authenticated_user_with_http_info(users_create_gpg_key_for_authenticated_user_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_create_gpg_key_for_authenticated_user ...'
      end
      # verify the required parameter 'users_create_gpg_key_for_authenticated_user_request' is set
      if @api_client.config.client_side_validation && users_create_gpg_key_for_authenticated_user_request.nil?
        fail ArgumentError, "Missing the required parameter 'users_create_gpg_key_for_authenticated_user_request' when calling UsersApi.users_create_gpg_key_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/gpg_keys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(users_create_gpg_key_for_authenticated_user_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GpgKey'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_create_gpg_key_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_create_gpg_key_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a public SSH key for the authenticated user
    # Adds a public SSH key to the authenticated user's GitHub account.  OAuth app tokens and personal access tokens (classic) need the `write:gpg_key` scope to use this endpoint.
    # @param users_create_public_ssh_key_for_authenticated_user_request [UsersCreatePublicSshKeyForAuthenticatedUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Key]
    def users_create_public_ssh_key_for_authenticated_user(users_create_public_ssh_key_for_authenticated_user_request, opts = {})
      data, _status_code, _headers = users_create_public_ssh_key_for_authenticated_user_with_http_info(users_create_public_ssh_key_for_authenticated_user_request, opts)
      data
    end

    # Create a public SSH key for the authenticated user
    # Adds a public SSH key to the authenticated user&#39;s GitHub account.  OAuth app tokens and personal access tokens (classic) need the &#x60;write:gpg_key&#x60; scope to use this endpoint.
    # @param users_create_public_ssh_key_for_authenticated_user_request [UsersCreatePublicSshKeyForAuthenticatedUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Key, Integer, Hash)>] Key data, response status code and response headers
    def users_create_public_ssh_key_for_authenticated_user_with_http_info(users_create_public_ssh_key_for_authenticated_user_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_create_public_ssh_key_for_authenticated_user ...'
      end
      # verify the required parameter 'users_create_public_ssh_key_for_authenticated_user_request' is set
      if @api_client.config.client_side_validation && users_create_public_ssh_key_for_authenticated_user_request.nil?
        fail ArgumentError, "Missing the required parameter 'users_create_public_ssh_key_for_authenticated_user_request' when calling UsersApi.users_create_public_ssh_key_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/keys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(users_create_public_ssh_key_for_authenticated_user_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Key'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_create_public_ssh_key_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_create_public_ssh_key_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a SSH signing key for the authenticated user
    # Creates an SSH signing key for the authenticated user's GitHub account.  OAuth app tokens and personal access tokens (classic) need the `write:ssh_signing_key` scope to use this endpoint.
    # @param users_create_ssh_signing_key_for_authenticated_user_request [UsersCreateSshSigningKeyForAuthenticatedUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SshSigningKey]
    def users_create_ssh_signing_key_for_authenticated_user(users_create_ssh_signing_key_for_authenticated_user_request, opts = {})
      data, _status_code, _headers = users_create_ssh_signing_key_for_authenticated_user_with_http_info(users_create_ssh_signing_key_for_authenticated_user_request, opts)
      data
    end

    # Create a SSH signing key for the authenticated user
    # Creates an SSH signing key for the authenticated user&#39;s GitHub account.  OAuth app tokens and personal access tokens (classic) need the &#x60;write:ssh_signing_key&#x60; scope to use this endpoint.
    # @param users_create_ssh_signing_key_for_authenticated_user_request [UsersCreateSshSigningKeyForAuthenticatedUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SshSigningKey, Integer, Hash)>] SshSigningKey data, response status code and response headers
    def users_create_ssh_signing_key_for_authenticated_user_with_http_info(users_create_ssh_signing_key_for_authenticated_user_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_create_ssh_signing_key_for_authenticated_user ...'
      end
      # verify the required parameter 'users_create_ssh_signing_key_for_authenticated_user_request' is set
      if @api_client.config.client_side_validation && users_create_ssh_signing_key_for_authenticated_user_request.nil?
        fail ArgumentError, "Missing the required parameter 'users_create_ssh_signing_key_for_authenticated_user_request' when calling UsersApi.users_create_ssh_signing_key_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/ssh_signing_keys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(users_create_ssh_signing_key_for_authenticated_user_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SshSigningKey'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_create_ssh_signing_key_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_create_ssh_signing_key_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an email address for the authenticated user
    # OAuth app tokens and personal access tokens (classic) need the `user` scope to use this endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [UsersDeleteEmailForAuthenticatedUserRequest] :users_delete_email_for_authenticated_user_request 
    # @return [nil]
    def users_delete_email_for_authenticated_user(opts = {})
      users_delete_email_for_authenticated_user_with_http_info(opts)
      nil
    end

    # Delete an email address for the authenticated user
    # OAuth app tokens and personal access tokens (classic) need the &#x60;user&#x60; scope to use this endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [UsersDeleteEmailForAuthenticatedUserRequest] :users_delete_email_for_authenticated_user_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def users_delete_email_for_authenticated_user_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_delete_email_for_authenticated_user ...'
      end
      # resource path
      local_var_path = '/user/emails'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'users_delete_email_for_authenticated_user_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_delete_email_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_delete_email_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a GPG key for the authenticated user
    # Removes a GPG key from the authenticated user's GitHub account.  OAuth app tokens and personal access tokens (classic) need the `admin:gpg_key` scope to use this endpoint.
    # @param gpg_key_id [Integer] The unique identifier of the GPG key.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def users_delete_gpg_key_for_authenticated_user(gpg_key_id, opts = {})
      users_delete_gpg_key_for_authenticated_user_with_http_info(gpg_key_id, opts)
      nil
    end

    # Delete a GPG key for the authenticated user
    # Removes a GPG key from the authenticated user&#39;s GitHub account.  OAuth app tokens and personal access tokens (classic) need the &#x60;admin:gpg_key&#x60; scope to use this endpoint.
    # @param gpg_key_id [Integer] The unique identifier of the GPG key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def users_delete_gpg_key_for_authenticated_user_with_http_info(gpg_key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_delete_gpg_key_for_authenticated_user ...'
      end
      # verify the required parameter 'gpg_key_id' is set
      if @api_client.config.client_side_validation && gpg_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'gpg_key_id' when calling UsersApi.users_delete_gpg_key_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/gpg_keys/{gpg_key_id}'.sub('{' + 'gpg_key_id' + '}', CGI.escape(gpg_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_delete_gpg_key_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_delete_gpg_key_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a public SSH key for the authenticated user
    # Removes a public SSH key from the authenticated user's GitHub account.  OAuth app tokens and personal access tokens (classic) need the `admin:public_key` scope to use this endpoint.
    # @param key_id [Integer] The unique identifier of the key.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def users_delete_public_ssh_key_for_authenticated_user(key_id, opts = {})
      users_delete_public_ssh_key_for_authenticated_user_with_http_info(key_id, opts)
      nil
    end

    # Delete a public SSH key for the authenticated user
    # Removes a public SSH key from the authenticated user&#39;s GitHub account.  OAuth app tokens and personal access tokens (classic) need the &#x60;admin:public_key&#x60; scope to use this endpoint.
    # @param key_id [Integer] The unique identifier of the key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def users_delete_public_ssh_key_for_authenticated_user_with_http_info(key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_delete_public_ssh_key_for_authenticated_user ...'
      end
      # verify the required parameter 'key_id' is set
      if @api_client.config.client_side_validation && key_id.nil?
        fail ArgumentError, "Missing the required parameter 'key_id' when calling UsersApi.users_delete_public_ssh_key_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/keys/{key_id}'.sub('{' + 'key_id' + '}', CGI.escape(key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_delete_public_ssh_key_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_delete_public_ssh_key_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete social accounts for the authenticated user
    # Deletes one or more social accounts from the authenticated user's profile.  OAuth app tokens and personal access tokens (classic) need the `user` scope to use this endpoint.
    # @param users_delete_social_account_for_authenticated_user_request [UsersDeleteSocialAccountForAuthenticatedUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def users_delete_social_account_for_authenticated_user(users_delete_social_account_for_authenticated_user_request, opts = {})
      users_delete_social_account_for_authenticated_user_with_http_info(users_delete_social_account_for_authenticated_user_request, opts)
      nil
    end

    # Delete social accounts for the authenticated user
    # Deletes one or more social accounts from the authenticated user&#39;s profile.  OAuth app tokens and personal access tokens (classic) need the &#x60;user&#x60; scope to use this endpoint.
    # @param users_delete_social_account_for_authenticated_user_request [UsersDeleteSocialAccountForAuthenticatedUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def users_delete_social_account_for_authenticated_user_with_http_info(users_delete_social_account_for_authenticated_user_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_delete_social_account_for_authenticated_user ...'
      end
      # verify the required parameter 'users_delete_social_account_for_authenticated_user_request' is set
      if @api_client.config.client_side_validation && users_delete_social_account_for_authenticated_user_request.nil?
        fail ArgumentError, "Missing the required parameter 'users_delete_social_account_for_authenticated_user_request' when calling UsersApi.users_delete_social_account_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/social_accounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(users_delete_social_account_for_authenticated_user_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_delete_social_account_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_delete_social_account_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an SSH signing key for the authenticated user
    # Deletes an SSH signing key from the authenticated user's GitHub account.  OAuth app tokens and personal access tokens (classic) need the `admin:ssh_signing_key` scope to use this endpoint.
    # @param ssh_signing_key_id [Integer] The unique identifier of the SSH signing key.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def users_delete_ssh_signing_key_for_authenticated_user(ssh_signing_key_id, opts = {})
      users_delete_ssh_signing_key_for_authenticated_user_with_http_info(ssh_signing_key_id, opts)
      nil
    end

    # Delete an SSH signing key for the authenticated user
    # Deletes an SSH signing key from the authenticated user&#39;s GitHub account.  OAuth app tokens and personal access tokens (classic) need the &#x60;admin:ssh_signing_key&#x60; scope to use this endpoint.
    # @param ssh_signing_key_id [Integer] The unique identifier of the SSH signing key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def users_delete_ssh_signing_key_for_authenticated_user_with_http_info(ssh_signing_key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_delete_ssh_signing_key_for_authenticated_user ...'
      end
      # verify the required parameter 'ssh_signing_key_id' is set
      if @api_client.config.client_side_validation && ssh_signing_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'ssh_signing_key_id' when calling UsersApi.users_delete_ssh_signing_key_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/ssh_signing_keys/{ssh_signing_key_id}'.sub('{' + 'ssh_signing_key_id' + '}', CGI.escape(ssh_signing_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_delete_ssh_signing_key_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_delete_ssh_signing_key_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Follow a user
    # Note that you'll need to set `Content-Length` to zero when calling out to this endpoint. For more information, see \"[HTTP verbs](https://docs.github.com/rest/guides/getting-started-with-the-rest-api#http-method).\"  OAuth app tokens and personal access tokens (classic) need the `user:follow` scope to use this endpoint.
    # @param username [String] The handle for the GitHub user account.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def users_follow(username, opts = {})
      users_follow_with_http_info(username, opts)
      nil
    end

    # Follow a user
    # Note that you&#39;ll need to set &#x60;Content-Length&#x60; to zero when calling out to this endpoint. For more information, see \&quot;[HTTP verbs](https://docs.github.com/rest/guides/getting-started-with-the-rest-api#http-method).\&quot;  OAuth app tokens and personal access tokens (classic) need the &#x60;user:follow&#x60; scope to use this endpoint.
    # @param username [String] The handle for the GitHub user account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def users_follow_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_follow ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling UsersApi.users_follow"
      end
      # resource path
      local_var_path = '/user/following/{username}'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_follow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_follow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the authenticated user
    # OAuth app tokens and personal access tokens (classic) need the `user` scope in order for the response to include private profile information.
    # @param [Hash] opts the optional parameters
    # @return [UsersGetAuthenticated200Response]
    def users_get_authenticated(opts = {})
      data, _status_code, _headers = users_get_authenticated_with_http_info(opts)
      data
    end

    # Get the authenticated user
    # OAuth app tokens and personal access tokens (classic) need the &#x60;user&#x60; scope in order for the response to include private profile information.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UsersGetAuthenticated200Response, Integer, Hash)>] UsersGetAuthenticated200Response data, response status code and response headers
    def users_get_authenticated_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_get_authenticated ...'
      end
      # resource path
      local_var_path = '/user'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UsersGetAuthenticated200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_get_authenticated",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_get_authenticated\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a user using their ID
    # Provides publicly available information about someone with a GitHub account. This method takes their durable user `ID` instead of their `login`, which can change over time.  The `email` key in the following response is the publicly visible email address from your GitHub [profile page](https://github.com/settings/profile). When setting up your profile, you can select a primary email address to be “public” which provides an email entry for this endpoint. If you do not set a public email address for `email`, then it will have a value of `null`. You only see publicly visible email addresses when authenticated with GitHub. For more information, see [Authentication](https://docs.github.com/rest/guides/getting-started-with-the-rest-api#authentication).  The Emails API enables you to list all of your email addresses, and toggle a primary email to be visible publicly. For more information, see \"[Emails API](https://docs.github.com/rest/users/emails)\".
    # @param account_id [Integer] account_id parameter
    # @param [Hash] opts the optional parameters
    # @return [UsersGetAuthenticated200Response]
    def users_get_by_id(account_id, opts = {})
      data, _status_code, _headers = users_get_by_id_with_http_info(account_id, opts)
      data
    end

    # Get a user using their ID
    # Provides publicly available information about someone with a GitHub account. This method takes their durable user &#x60;ID&#x60; instead of their &#x60;login&#x60;, which can change over time.  The &#x60;email&#x60; key in the following response is the publicly visible email address from your GitHub [profile page](https://github.com/settings/profile). When setting up your profile, you can select a primary email address to be “public” which provides an email entry for this endpoint. If you do not set a public email address for &#x60;email&#x60;, then it will have a value of &#x60;null&#x60;. You only see publicly visible email addresses when authenticated with GitHub. For more information, see [Authentication](https://docs.github.com/rest/guides/getting-started-with-the-rest-api#authentication).  The Emails API enables you to list all of your email addresses, and toggle a primary email to be visible publicly. For more information, see \&quot;[Emails API](https://docs.github.com/rest/users/emails)\&quot;.
    # @param account_id [Integer] account_id parameter
    # @param [Hash] opts the optional parameters
    # @return [Array<(UsersGetAuthenticated200Response, Integer, Hash)>] UsersGetAuthenticated200Response data, response status code and response headers
    def users_get_by_id_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_get_by_id ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling UsersApi.users_get_by_id"
      end
      # resource path
      local_var_path = '/user/{account_id}'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UsersGetAuthenticated200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_get_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_get_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a user
    # Provides publicly available information about someone with a GitHub account.  The `email` key in the following response is the publicly visible email address from your GitHub [profile page](https://github.com/settings/profile). When setting up your profile, you can select a primary email address to be “public” which provides an email entry for this endpoint. If you do not set a public email address for `email`, then it will have a value of `null`. You only see publicly visible email addresses when authenticated with GitHub. For more information, see [Authentication](https://docs.github.com/rest/guides/getting-started-with-the-rest-api#authentication).  The Emails API enables you to list all of your email addresses, and toggle a primary email to be visible publicly. For more information, see \"[Emails API](https://docs.github.com/rest/users/emails)\".
    # @param username [String] The handle for the GitHub user account.
    # @param [Hash] opts the optional parameters
    # @return [UsersGetAuthenticated200Response]
    def users_get_by_username(username, opts = {})
      data, _status_code, _headers = users_get_by_username_with_http_info(username, opts)
      data
    end

    # Get a user
    # Provides publicly available information about someone with a GitHub account.  The &#x60;email&#x60; key in the following response is the publicly visible email address from your GitHub [profile page](https://github.com/settings/profile). When setting up your profile, you can select a primary email address to be “public” which provides an email entry for this endpoint. If you do not set a public email address for &#x60;email&#x60;, then it will have a value of &#x60;null&#x60;. You only see publicly visible email addresses when authenticated with GitHub. For more information, see [Authentication](https://docs.github.com/rest/guides/getting-started-with-the-rest-api#authentication).  The Emails API enables you to list all of your email addresses, and toggle a primary email to be visible publicly. For more information, see \&quot;[Emails API](https://docs.github.com/rest/users/emails)\&quot;.
    # @param username [String] The handle for the GitHub user account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UsersGetAuthenticated200Response, Integer, Hash)>] UsersGetAuthenticated200Response data, response status code and response headers
    def users_get_by_username_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_get_by_username ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling UsersApi.users_get_by_username"
      end
      # resource path
      local_var_path = '/users/{username}'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UsersGetAuthenticated200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_get_by_username",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_get_by_username\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get contextual information for a user
    # Provides hovercard information. You can find out more about someone in relation to their pull requests, issues, repositories, and organizations.    The `subject_type` and `subject_id` parameters provide context for the person's hovercard, which returns more information than without the parameters. For example, if you wanted to find out more about `octocat` who owns the `Spoon-Knife` repository, you would use a `subject_type` value of `repository` and a `subject_id` value of `1300192` (the ID of the `Spoon-Knife` repository).  OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
    # @param username [String] The handle for the GitHub user account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :subject_type Identifies which additional information you&#39;d like to receive about the person&#39;s hovercard. Can be &#x60;organization&#x60;, &#x60;repository&#x60;, &#x60;issue&#x60;, &#x60;pull_request&#x60;. **Required** when using &#x60;subject_id&#x60;.
    # @option opts [String] :subject_id Uses the ID for the &#x60;subject_type&#x60; you specified. **Required** when using &#x60;subject_type&#x60;.
    # @return [Hovercard]
    def users_get_context_for_user(username, opts = {})
      data, _status_code, _headers = users_get_context_for_user_with_http_info(username, opts)
      data
    end

    # Get contextual information for a user
    # Provides hovercard information. You can find out more about someone in relation to their pull requests, issues, repositories, and organizations.    The &#x60;subject_type&#x60; and &#x60;subject_id&#x60; parameters provide context for the person&#39;s hovercard, which returns more information than without the parameters. For example, if you wanted to find out more about &#x60;octocat&#x60; who owns the &#x60;Spoon-Knife&#x60; repository, you would use a &#x60;subject_type&#x60; value of &#x60;repository&#x60; and a &#x60;subject_id&#x60; value of &#x60;1300192&#x60; (the ID of the &#x60;Spoon-Knife&#x60; repository).  OAuth app tokens and personal access tokens (classic) need the &#x60;repo&#x60; scope to use this endpoint.
    # @param username [String] The handle for the GitHub user account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :subject_type Identifies which additional information you&#39;d like to receive about the person&#39;s hovercard. Can be &#x60;organization&#x60;, &#x60;repository&#x60;, &#x60;issue&#x60;, &#x60;pull_request&#x60;. **Required** when using &#x60;subject_id&#x60;.
    # @option opts [String] :subject_id Uses the ID for the &#x60;subject_type&#x60; you specified. **Required** when using &#x60;subject_type&#x60;.
    # @return [Array<(Hovercard, Integer, Hash)>] Hovercard data, response status code and response headers
    def users_get_context_for_user_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_get_context_for_user ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling UsersApi.users_get_context_for_user"
      end
      allowable_values = ["organization", "repository", "issue", "pull_request"]
      if @api_client.config.client_side_validation && opts[:'subject_type'] && !allowable_values.include?(opts[:'subject_type'])
        fail ArgumentError, "invalid value for \"subject_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/users/{username}/hovercard'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'subject_type'] = opts[:'subject_type'] if !opts[:'subject_type'].nil?
      query_params[:'subject_id'] = opts[:'subject_id'] if !opts[:'subject_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hovercard'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_get_context_for_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_get_context_for_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a GPG key for the authenticated user
    # View extended details for a single GPG key.  OAuth app tokens and personal access tokens (classic) need the `read:gpg_key` scope to use this endpoint.
    # @param gpg_key_id [Integer] The unique identifier of the GPG key.
    # @param [Hash] opts the optional parameters
    # @return [GpgKey]
    def users_get_gpg_key_for_authenticated_user(gpg_key_id, opts = {})
      data, _status_code, _headers = users_get_gpg_key_for_authenticated_user_with_http_info(gpg_key_id, opts)
      data
    end

    # Get a GPG key for the authenticated user
    # View extended details for a single GPG key.  OAuth app tokens and personal access tokens (classic) need the &#x60;read:gpg_key&#x60; scope to use this endpoint.
    # @param gpg_key_id [Integer] The unique identifier of the GPG key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GpgKey, Integer, Hash)>] GpgKey data, response status code and response headers
    def users_get_gpg_key_for_authenticated_user_with_http_info(gpg_key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_get_gpg_key_for_authenticated_user ...'
      end
      # verify the required parameter 'gpg_key_id' is set
      if @api_client.config.client_side_validation && gpg_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'gpg_key_id' when calling UsersApi.users_get_gpg_key_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/gpg_keys/{gpg_key_id}'.sub('{' + 'gpg_key_id' + '}', CGI.escape(gpg_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GpgKey'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_get_gpg_key_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_get_gpg_key_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a public SSH key for the authenticated user
    # View extended details for a single public SSH key.  OAuth app tokens and personal access tokens (classic) need the `read:public_key` scope to use this endpoint.
    # @param key_id [Integer] The unique identifier of the key.
    # @param [Hash] opts the optional parameters
    # @return [Key]
    def users_get_public_ssh_key_for_authenticated_user(key_id, opts = {})
      data, _status_code, _headers = users_get_public_ssh_key_for_authenticated_user_with_http_info(key_id, opts)
      data
    end

    # Get a public SSH key for the authenticated user
    # View extended details for a single public SSH key.  OAuth app tokens and personal access tokens (classic) need the &#x60;read:public_key&#x60; scope to use this endpoint.
    # @param key_id [Integer] The unique identifier of the key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Key, Integer, Hash)>] Key data, response status code and response headers
    def users_get_public_ssh_key_for_authenticated_user_with_http_info(key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_get_public_ssh_key_for_authenticated_user ...'
      end
      # verify the required parameter 'key_id' is set
      if @api_client.config.client_side_validation && key_id.nil?
        fail ArgumentError, "Missing the required parameter 'key_id' when calling UsersApi.users_get_public_ssh_key_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/keys/{key_id}'.sub('{' + 'key_id' + '}', CGI.escape(key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Key'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_get_public_ssh_key_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_get_public_ssh_key_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an SSH signing key for the authenticated user
    # Gets extended details for an SSH signing key.  OAuth app tokens and personal access tokens (classic) need the `read:ssh_signing_key` scope to use this endpoint.
    # @param ssh_signing_key_id [Integer] The unique identifier of the SSH signing key.
    # @param [Hash] opts the optional parameters
    # @return [SshSigningKey]
    def users_get_ssh_signing_key_for_authenticated_user(ssh_signing_key_id, opts = {})
      data, _status_code, _headers = users_get_ssh_signing_key_for_authenticated_user_with_http_info(ssh_signing_key_id, opts)
      data
    end

    # Get an SSH signing key for the authenticated user
    # Gets extended details for an SSH signing key.  OAuth app tokens and personal access tokens (classic) need the &#x60;read:ssh_signing_key&#x60; scope to use this endpoint.
    # @param ssh_signing_key_id [Integer] The unique identifier of the SSH signing key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SshSigningKey, Integer, Hash)>] SshSigningKey data, response status code and response headers
    def users_get_ssh_signing_key_for_authenticated_user_with_http_info(ssh_signing_key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_get_ssh_signing_key_for_authenticated_user ...'
      end
      # verify the required parameter 'ssh_signing_key_id' is set
      if @api_client.config.client_side_validation && ssh_signing_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'ssh_signing_key_id' when calling UsersApi.users_get_ssh_signing_key_for_authenticated_user"
      end
      # resource path
      local_var_path = '/user/ssh_signing_keys/{ssh_signing_key_id}'.sub('{' + 'ssh_signing_key_id' + '}', CGI.escape(ssh_signing_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SshSigningKey'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_get_ssh_signing_key_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_get_ssh_signing_key_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List users
    # Lists all users, in the order that they signed up on GitHub. This list includes personal user accounts and organization accounts.  Note: Pagination is powered exclusively by the `since` parameter. Use the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers) to get the URL for the next page of users.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :since A user ID. Only return users with an ID greater than this ID.
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 30)
    # @return [Array<SimpleUser>]
    def users_list(opts = {})
      data, _status_code, _headers = users_list_with_http_info(opts)
      data
    end

    # List users
    # Lists all users, in the order that they signed up on GitHub. This list includes personal user accounts and organization accounts.  Note: Pagination is powered exclusively by the &#x60;since&#x60; parameter. Use the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers) to get the URL for the next page of users.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :since A user ID. Only return users with an ID greater than this ID.
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 30)
    # @return [Array<(Array<SimpleUser>, Integer, Hash)>] Array<SimpleUser> data, response status code and response headers
    def users_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_list ...'
      end
      # resource path
      local_var_path = '/users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SimpleUser>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List attestations
    # List a collection of artifact attestations with a given subject digest that are associated with repositories owned by a user.  The collection of attestations returned by this endpoint is filtered according to the authenticated user's permissions; if the authenticated user cannot read a repository, the attestations associated with that repository will not be included in the response. In addition, when using a fine-grained access token the `attestations:read` permission is required.  **Please note:** in order to offer meaningful security benefits, an attestation's signature and timestamps **must** be cryptographically verified, and the identity of the attestation signer **must** be validated. Attestations can be verified using the [GitHub CLI `attestation verify` command](https://cli.github.com/manual/gh_attestation_verify). For more information, see [our guide on how to use artifact attestations to establish a build's provenance](https://docs.github.com/actions/security-guides/using-artifact-attestations-to-establish-provenance-for-builds).
    # @param username [String] The handle for the GitHub user account.
    # @param subject_digest [String] Subject Digest
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 30)
    # @option opts [String] :before A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results before this cursor. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot;
    # @option opts [String] :after A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results after this cursor. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot;
    # @return [UsersListAttestations200Response]
    def users_list_attestations(username, subject_digest, opts = {})
      data, _status_code, _headers = users_list_attestations_with_http_info(username, subject_digest, opts)
      data
    end

    # List attestations
    # List a collection of artifact attestations with a given subject digest that are associated with repositories owned by a user.  The collection of attestations returned by this endpoint is filtered according to the authenticated user&#39;s permissions; if the authenticated user cannot read a repository, the attestations associated with that repository will not be included in the response. In addition, when using a fine-grained access token the &#x60;attestations:read&#x60; permission is required.  **Please note:** in order to offer meaningful security benefits, an attestation&#39;s signature and timestamps **must** be cryptographically verified, and the identity of the attestation signer **must** be validated. Attestations can be verified using the [GitHub CLI &#x60;attestation verify&#x60; command](https://cli.github.com/manual/gh_attestation_verify). For more information, see [our guide on how to use artifact attestations to establish a build&#39;s provenance](https://docs.github.com/actions/security-guides/using-artifact-attestations-to-establish-provenance-for-builds).
    # @param username [String] The handle for the GitHub user account.
    # @param subject_digest [String] Subject Digest
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 30)
    # @option opts [String] :before A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results before this cursor. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot;
    # @option opts [String] :after A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results after this cursor. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot;
    # @return [Array<(UsersListAttestations200Response, Integer, Hash)>] UsersListAttestations200Response data, response status code and response headers
    def users_list_attestations_with_http_info(username, subject_digest, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_list_attestations ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling UsersApi.users_list_attestations"
      end
      # verify the required parameter 'subject_digest' is set
      if @api_client.config.client_side_validation && subject_digest.nil?
        fail ArgumentError, "Missing the required parameter 'subject_digest' when calling UsersApi.users_list_attestations"
      end
      # resource path
      local_var_path = '/users/{username}/attestations/{subject_digest}'.sub('{' + 'username' + '}', CGI.escape(username.to_s)).sub('{' + 'subject_digest' + '}', CGI.escape(subject_digest.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UsersListAttestations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_list_attestations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_list_attestations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List users blocked by the authenticated user
    # List the users you've blocked on your personal account.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 30)
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @return [Array<SimpleUser>]
    def users_list_blocked_by_authenticated_user(opts = {})
      data, _status_code, _headers = users_list_blocked_by_authenticated_user_with_http_info(opts)
      data
    end

    # List users blocked by the authenticated user
    # List the users you&#39;ve blocked on your personal account.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 30)
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @return [Array<(Array<SimpleUser>, Integer, Hash)>] Array<SimpleUser> data, response status code and response headers
    def users_list_blocked_by_authenticated_user_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_list_blocked_by_authenticated_user ...'
      end
      # resource path
      local_var_path = '/user/blocks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SimpleUser>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_list_blocked_by_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_list_blocked_by_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List email addresses for the authenticated user
    # Lists all of your email addresses, and specifies which one is visible to the public.  OAuth app tokens and personal access tokens (classic) need the `user:email` scope to use this endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 30)
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @return [Array<Email>]
    def users_list_emails_for_authenticated_user(opts = {})
      data, _status_code, _headers = users_list_emails_for_authenticated_user_with_http_info(opts)
      data
    end

    # List email addresses for the authenticated user
    # Lists all of your email addresses, and specifies which one is visible to the public.  OAuth app tokens and personal access tokens (classic) need the &#x60;user:email&#x60; scope to use this endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 30)
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @return [Array<(Array<Email>, Integer, Hash)>] Array<Email> data, response status code and response headers
    def users_list_emails_for_authenticated_user_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_list_emails_for_authenticated_user ...'
      end
      # resource path
      local_var_path = '/user/emails'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Email>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_list_emails_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_list_emails_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the people the authenticated user follows
    # Lists the people who the authenticated user follows.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 30)
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @return [Array<SimpleUser>]
    def users_list_followed_by_authenticated_user(opts = {})
      data, _status_code, _headers = users_list_followed_by_authenticated_user_with_http_info(opts)
      data
    end

    # List the people the authenticated user follows
    # Lists the people who the authenticated user follows.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 30)
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @return [Array<(Array<SimpleUser>, Integer, Hash)>] Array<SimpleUser> data, response status code and response headers
    def users_list_followed_by_authenticated_user_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_list_followed_by_authenticated_user ...'
      end
      # resource path
      local_var_path = '/user/following'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SimpleUser>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_list_followed_by_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_list_followed_by_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List followers of the authenticated user
    # Lists the people following the authenticated user.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 30)
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @return [Array<SimpleUser>]
    def users_list_followers_for_authenticated_user(opts = {})
      data, _status_code, _headers = users_list_followers_for_authenticated_user_with_http_info(opts)
      data
    end

    # List followers of the authenticated user
    # Lists the people following the authenticated user.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 30)
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @return [Array<(Array<SimpleUser>, Integer, Hash)>] Array<SimpleUser> data, response status code and response headers
    def users_list_followers_for_authenticated_user_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_list_followers_for_authenticated_user ...'
      end
      # resource path
      local_var_path = '/user/followers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SimpleUser>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_list_followers_for_authenticated_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#users_list_followers_for_authenticated_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List followers of a user
    # Lists the people following the specified user.
    # @param username [String] The handle for the GitHub user account.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 30)
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @return [Array<SimpleUser>]
    def users_list_followers_for_user(username, opts = {})
      data, _status_code, _headers = users_list_followers_for_user_with_http_info(username, opts)
      data
    end

    # List followers of a user
    # Lists the people following the specified user.
    # @param username [String] The handle for the GitHub user account.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :per_page The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 30)
    # @option opts [Integer] :page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (default to 1)
    # @return [Array<(Array<SimpleUser>, Integer, Hash)>] Array<SimpleUser> data, response status code and response headers
    def users_list_followers_for_user_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.users_list_followers_for_user ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling UsersApi.users_list_followers_for_user"
      end
      # resource path
      local_var_path = '/users/{username}/followers'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SimpleUser>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UsersApi.users_list_followers_for_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
[...]
