# OpenapiClient::Verification

## Properties

| Name | Type | Description | Notes |
| ---- | ---- | ----------- | ----- |
| **verified** | **Boolean** |  |  |
| **reason** | **String** |  |  |
| **payload** | **String** |  |  |
| **signature** | **String** |  |  |

## Example

```ruby
require 'openapi_client'

instance = OpenapiClient::Verification.new(
  verified: null,
  reason: null,
  payload: null,
  signature: null
)
```

